- title t('title.reviewer.details', reviewer_name: @reviewer.user.full_name)

%h3= t('title.reviewer.preference')

%p= @reviewer.sign_reviews ? t('text.reviewer.signs', name: @reviewer.user.full_name) : t('text.reviewer.anonymous', name: @reviewer.user.full_name)

%table.preferences
  %thead
    %tr
      - unless @conference.single_track?
        %th.track= t('formtastic.labels.preference.track')
      %th.audience_level= t('formtastic.labels.preference.audience_level')
  %tbody
    - @reviewer.accepted_preferences.map(&:track).uniq.each do |track|
      %tr
        - unless @conference.single_track?
          %td.track= t(track.title)
        %td.audience_level= t(review_level(@reviewer.accepted_preferences, track))

%h3= t('formtastic.labels.session.reviews')

%table.reviews
  %thead
    %tr
      %th.session= t('formtastic.labels.final_review.session')
      %th.confidence= t('formtastic.labels.final_review.confidence')
      %th.recommendation
        = t('formtastic.labels.final_review.recommendation')
        = " - "
        = t('formtastic.labels.review_decision.note_to_authors')
      %th.feedback= t('reviewer.feedback')
  %tbody
    - @reviewer.reviews.sort{|r1, r2| review_feedback_score(r2) <=> review_feedback_score(r1)}.each do |review|
      %tr
        %td.session
          = link_to h(review.session.try(:title)), session_path(@conference, review.session)
          %br
          = t('generic.by')
          = link_to h(review.session.author.full_name), user_path(review.session.author)
          - if review.session.second_author
            = ' & '
            = link_to h(review.session.second_author.full_name), user_path(review.session.second_author)
          - unless @conference.single_track?
            = t('generic.in')
            = t(review.session.track.title)
        %td.confidence= t(review.reviewer_confidence_rating.title)
        %td.recommendation
          - if review.is_a?(FinalReview)
            = image_tag("#{review.recommendation.try(:name)}.png", alt: t(review.recommendation.try(:title)))
          - unless review.comments_to_authors.blank?
            = ' - ' if review.is_a?(FinalReview)
            = review.comments_to_authors
          %br
          = link_to t("review.#{review.type.underscore}"), session_review_path(@conference, review.session, review)
        %td.feedback
          - review.review_evaluations.each do |evaluation|
            %p
              = evaluation.helpful_review ? image_tag('helpful.png', alt: '👍') : image_tag('not-helpful.png', alt: '👎')
              - unless evaluation.comments.blank?
                = ": #{evaluation.comments}"
