- title "Submission Guidelines"
- show_actions!

%p To submit your proposal, create an account in the submission system and fill out the submission form with the details of your proposal. Until the submission deadline, you will be able to edit your profile, create session proposals and edit existing proposals of which you are one of the authors. You may submit as many proposals as you wish, but <strong>no more than one session per main author will be accepted</strong> in the final program. It is not possible to remove a proposal.

%p Note that you will also be able to read proposals submitted by other users, as they will be able to read yours, even after the submission deadline.

%p The submissions will be reviewed and evaluated by at least 3 members of the reviewing committee. For that, they will consider:

%ul
  %li The authors' experience - both the mini biography presented in #{user_signed_in? ? link_to("your user profile", user_path(current_user)) : "your user profile"} and the field about experience with the subject in the submission form;
  %li Adequacy of your proposal in what concerns the chosen #{link_to "track", conference_tracks_path(@conference.year)}, #{link_to "session type", conference_session_types_path(@conference.year)}, #{link_to "audience level", conference_audience_levels_path(@conference.year)}, and target audience;
  %li Relevance to event;
  %li Clarity and quality of the written material.

%p Authors of the sessions selected to be in the program will be notified by email after the revision period. After the notification, the main author will have a deadline to register in the conference. In case the main author does not register before the deadline, his session will be removed from the program.

%p See below the important dates:

%ul
  %li #{l(Date.new(2010, 1, 31))}: Release of proposal submission form
  %li #{l(Date.new(2010, 3, 7))}: Submission deadline
  %li
    %strong #{l(Date.new(2010, 4, 16))}: Acceptance notification
  %li #{l(Date.new(2010, 4, 30))}: Inscription deadline to selected authors
