- title "Regras de Submissão"
- show_actions!

%p Para submeter sua proposta, crie uma conta no sistema de submissões e preencha o formulário com as informações sobre a sua proposta. Até a data do prazo para submissões, você poderá editar o seu perfil, criar novas propostas e editar propostas existentes das quais você seja o primeiro ou segundo autor. Você pode submeter tantas propostas quantas quiser, mas <strong>não mais de uma sessão por autor principal será aceita</strong> no programa final. Não é possível remover uma proposta.

%p Note que você poderá também ler as propostas submetidas por outros usuários, assim como eles poderão ler as suas, mesmo após o prazo de submissão.

%p As submissões serão revisadas e avaliadas por pelo menos 3 membros do comitê de avaliação. Serão levados em consideração:

%ul
  %li A experiência do(s) autor(es) - tanto o mini-currículo preenchido no #{user_signed_in? ? link_to("perfil", user_path(current_user)) : "perfil"} quanto o campo sobre experiência com o tema da proposta presente no formulário de submissão;
  %li Adequação da proposta no que diz respeito à #{link_to "trilha escolhida", tracks_path(@conference)}, #{link_to "tipo de sessão", session_types_path(@conference)} proposto, #{link_to "nível e perfil", audience_levels_path(@conference)} do público;
  %li Relevância para o evento;
  %li Clareza e qualidade do material enviado.

%p Os autores que tiverem sessões selecionadas para entrar no programa serão notificados por email após o período de avaliação. A partir da notificação, o autor principal terá um prazo para se inscrever na conferência. Caso o autor principal não se inscreva dentro do prazo, sua sessão será removida do programa.

%p Confira abaixo as datas importantes:

%ul
  %li #{l(@conference.call_for_papers.to_date)}: Abertura do formulário de submissão de propostas
  %li #{l(@conference.submissions_deadline.to_date)}: Submissão de propostas
  %li
    %strong #{l(@conference.author_notification.to_date)}: Notificação aos autores selecionados
  %li #{l(@conference.author_confirmation.to_date)}: Limite para inscrição no evento dos autores selecionados
