- title "Regras de Submissão"
- show_actions!

%p Para submeter sua proposta, crie uma conta no sistema de submissões e preencha o formulário com as informações sobre a sua proposta. <strong>Caso tenha submetido propostas no ano passado, sua conta ainda é válida</strong>. Até a data do prazo para submissões, você poderá editar o seu perfil, criar novas propostas e editar propostas existentes das quais você um dos autores. Você pode submeter tantas propostas quantas quiser. Não é possível remover uma proposta.

%p Note que você poderá também ler as propostas submetidas por outros usuários, assim como eles poderão ler as suas, mesmo após o prazo de submissão.

%p As submissões serão revisadas e avaliadas por pelo menos 3 membros do Comitê de Avaliação. Serão levados em consideração:

%ul
  %li A experiência do(s) autor(es) - tanto o minicurrículo preenchido no #{user_signed_in? ? link_to("perfil", user_path(current_user)) : "perfil"} quanto o campo sobre experiência com o tema da proposta presente no formulário de submissão;
  %li Adequação da proposta no que diz respeito à #{link_to "trilha escolhida", tracks_path(@conference)}, #{link_to "tipo de sessão", session_types_path(@conference)} proposto, #{link_to "nível e perfil", audience_levels_path(@conference)} do público;
  %li Relevância para o evento;
  %li Clareza e qualidade do material enviado.

%p Além disso, durante a montagem do programa, serão consideradas as seguintes regras para inclusão de uma sessão:

%ul
  %li Um autor não pode ter mais de 3 sessões aceitas (exceto lightning talks).
  %li Não há limites para o número de lightning talks aceitos por autor.
  %li Só será aceita uma sessão por conjunto de autores. Isto é, João poderá ter, no máximo, uma sessão sozinho, uma com Maria e outra com José. João não poderá ter duas sessões sozinho ou duas sessões com Maria.
  %li O comitê do programa procurará promover a diversidade de autores na grade desde que essa decisão não prejudique o nível do evento (de acordo com as avaliações feitas pelo comitê avaliador).

%p Os autores que tiverem sessões selecionadas para entrar no programa serão notificados por email após o período de avaliação. A partir da notificação, os autores terão um prazo para se inscrever na conferência. Caso nenhum dos autores se inscreva dentro do prazo, sua sessão serão removida do programa.

%p Cada sessão aceita (exceto lightning talks) que for confirmada terá direito a uma (1) inscrição gratuita que deverá ser utilizada por um de seus autores. Lightning talks confirmados não dão direito a nenhum benefício independentemente da quantidade.

%p Confira abaixo as datas importantes:

%ul
  %li #{l(@conference.call_for_papers.to_date)}: Divulgação da chamada de trabalhos
  %li #{l(@conference.submissions_open.to_date)}: Abertura do formulário de submissão de propostas
  %li #{l(@conference.submissions_deadline.to_date)}: Submissão de propostas
  %li #{l(@conference.author_notification.to_date)}: Notificação aos autores selecionados
  %li
    %strong #{l(@conference.author_confirmation.to_date)}: Limite para inscrição no evento dos autores selecionados
