- title "Trabalhos da #{@conference.name}"
- show_actions!
.auto_focus

%p A Conferência Brasileira sobre Métodos Ágeis de Desenvolvimento de Software – #{link_to(@conference.name, "http://www.agilebrazil.com/")} – é uma conferência nacional sem fins lucrativos organizada por representantes das principais comunidades ágeis brasileiras. O evento tem como propósito promover a comunicação e a colaboração entre seus integrantes visando à disseminação coordenada da cultura Ágil por todo o país.

%p A #{@conference.name} acontecerá em São Paulo durante o mês de Julho, contando com cursos, apresentação de trabalhos e relatos de experiência provenientes de várias regiões do país, alem da participação de convidados reconhecidos internacionalmente.

%p Submeta sua proposta de trabalho e venha se juntar a nós em São Paulo! Leia as #{link_to(t('title.guidelines'), static_page_path(@conference, 'guidelines'))}, elabore sua proposta e submeta. Para submeter, basta entrar com seu usuário e senha, clicar em '#{t('actions.submit_session')}' e preencher o formulário. Envie a sua, comente as propostas dos outros e faça da #{@conference.name} a conferência perfeita para você.

%h3 Datas importantes

%ul
  %li #{l(@conference.call_for_papers)}: Divulgação da chamada de trabalhos
  %li #{l(@conference.submissions_open)}: Abertura do formulário de submissão de propostas
  %li #{l(@conference.submissions_deadline)}: Submissão de propostas - Leia as regras de submissao
  %li #{l(@conference.author_notification)}: Notificação aos autores selecionados
  %li #{l(@conference.author_confirmation)}: Limite para confirmação das palestras dos autores selecionados
