- title "Sessions proposed to #{@conference.name}"
- show_actions!
.auto_focus

%p The Brazilian Conference about Agile Methods – #{link_to(@conference.name, "http://www.agilebrazil.com/")} – is a non-profitable national conference organized by representatives of the main Brazilian agile communities. The event's goal is to promote communication and collaboration among its attendees aiming to disseminate the Agile culture in the whole country.

%p #{@conference.name} will be held in Brasília by end of June, and will feature courses, work presentations and experience reports from around Brazil, as well as the presence of international guests.

%p Submit your proposal and come join us in Brasília! Read the submission #{link_to(t('title.guidelines'), static_page_path(@conference, 'guidelines'))}, build your proposal and submit it. To do so, just enter your user and password, click on '#{t('actions.submit_session')}' and fill the form. Send your proposal, add comments to others and make #{@conference.name} the perfect conference for you.

%h3 Important dates

%ul
  - @conference.dates.each do |date_map|
    %li= present_date(@conference, date_map)
