- title "Sessions proposed to #{@conference.name}"
- show_actions!
.auto_focus

%p The Brazilian Conference about Agile Methods – #{link_to(@conference.name, "http://www.agilebrazil.com/")} – is a non-profit national conference organized by the Agile Alliance Brazil and representatives of main Brazilian agile communities. The event's goal is to promote communication and collaboration among its attendees aiming the dissemination of the Agile culture in the country.

%p #{@conference.name} will be held in Florianopolis on early November, and will feature courses, sessions and discussions from all around Brazil, as well as international guests and proponents.

%p Submit your proposal and come join us in Floripa! Read the submission #{link_to(t('title.guidelines'), static_page_path(@conference, 'guidelines'))}, build your proposal and submit it. To do so, just enter your user and password (same as last year's), click on '#{t('actions.submit_session')}' and fill the form. Send your proposal, add comments to others' and make #{@conference.name} the perfect conference for you.

%p Note: for Research submissions, please refer to WBMA's specific rules. Dates and submission method are different for the research track.

%h3 Important dates

%ul
  - @conference.dates.each do |date_map|
    %li= present_date(@conference, date_map)
