- title "Regras de Submissão"
- show_actions!

%p Para submeter sua proposta, logue-se no sistema de submissões e preencha o formulário com as informações sobre a sua proposta. <strong>Caso tenha submetido propostas no ano passado, sua conta ainda é válida</strong>. Enquanto estivermos no período de submissões, você poderá editar o seu perfil, criar novas propostas e editar suas propostas. Você pode submeter tantas propostas quantas quiser. Não é possível remover uma proposta.

%p Note que você poderá também ler as propostas submetidas por outros usuários, assim como eles poderão ler as suas, mesmo após o prazo de submissão. Qualquer usuário também pode adicionar comentários em outras propostas. Fique atento a esses comentários: muitas vezes, eles contém dúvidas ou sugestões que melhorarão sua submissão!

%p Todas as propostas serão revisadas e avaliadas por pelo menos 3 membros do Comitê de Avaliação. Os revisores levarão em consideração:

%ul
  %li A experiência do(s) autor(es) - tanto o minicurrículo preenchido no #{user_signed_in? ? link_to("perfil", user_path(current_user)) : "perfil"} quanto o campo sobre experiência com o tema da proposta, presente no formulário de submissão;
  %li Adequação da proposta no que diz respeito a #{link_to "trilha escolhida", tracks_path(@conference)}, #{link_to "tipo de sessão", session_types_path(@conference)} proposta, #{link_to "nível e perfil", audience_levels_path(@conference)} do público;
  %li Relevância para o evento;
  %li Clareza e qualidade do material enviado.

%p Estamos em processo de aumentar a importância das tags, enquanto reduzimos a das trilhas, então, certifique-se de marcar as tags mais relevantes ao tema da sua sessão. Outro campo novo e importante é o de pré-requisitos.

%p Além disso, durante a montagem do programa, serão consideradas as seguintes regras para inclusão de uma sessão:

%ul
  %li Um autor não pode ter mais de 2 sessões aceitas.
  %li Só será aceita uma sessão por conjunto de autores. Isto é, João poderá ter, no máximo, uma sessão com Maria e outra com José. João não poderá ter duas sessões com Maria ou duas sessões sozinho.
  %li O comitê do programa procurará promover a diversidade de autores na grade desde que essa decisão não prejudique o nível do evento (de acordo com as avaliações feitas pelo comitê avaliador).

%p Os autores que tiverem sessões selecionadas para entrar no programa serão notificados por email após o período de avaliação. A partir da notificação, os autores terão um prazo para se inscrever na conferência. Caso nenhum dos autores se inscreva dentro do prazo, sua sessão será removida do programa.

%p Cada sessão aceita que for confirmada terá direito a inscrição gratuita para ambos os seus autores, exceto Relatos de Experiência (15'), que dão direito a apenas uma inscrição complementar.

%p Confira abaixo as datas importantes:

%ul
  - @conference.dates.each do |date_map|
    %li= present_date(@conference, date_map)
