- title "Regras de Submissão"
- show_actions!

%p Para submeter sua proposta, crie uma conta no sistema de submissões e preencha o formulário com as informações sobre a sua proposta. <strong>Caso tenha submetido propostas para a Agile Brazil 2010, sua conta ainda é válida</strong>. Até a data do prazo para submissões, você poderá editar o seu perfil, criar novas propostas e editar propostas existentes das quais você seja o primeiro ou segundo autor. Você pode submeter tantas propostas quantas quiser. Não é possível remover uma proposta.

%p Note que você poderá também ler as propostas submetidas por outros usuários, assim como eles poderão ler as suas, mesmo após o prazo de submissão.

%p As submissões serão revisadas e avaliadas por pelo menos 3 membros do Comitê de Avaliação. Serão levados em consideração:

%ul
  %li A experiência do(s) autor(es) - tanto o minicurrículo preenchido no #{logged_in? ? link_to("perfil", user_path(current_user)) : "perfil"} quanto o campo sobre experiência com o tema da proposta presente no formulário de submissão;
  %li Adequação da proposta no que diz respeito à #{link_to "trilha escolhida", tracks_path}, #{link_to "tipo de sessão", session_types_path} proposto, #{link_to "nível e perfil", audience_levels_path} do público;
  %li Relevância para o evento;
  %li Clareza e qualidade do material enviado.

%p Os autores que tiverem sessões selecionadas para entrar no programa serão notificados por email após o período de avaliação. A partir da notificação, os autores terão um prazo para se inscrever na conferência. Caso nenhum dos autores se inscreva dentro do prazo, suas sessões serão removida do programa.

%p Confira abaixo as datas importantes:

%ul
  %li
    %strong #{l(Date.new(2011, 2, 5))}: Divulgação da chamada de trabalhos
  %li #{l(Date.new(2011, 2, 14))}: Abertura do formulário de submissão de propostas
  %li #{l(Date.new(2011, 3, 19))}: Submissão de propostas
  %li #{l(Date.new(2011, 4, 25))}: Notificação aos autores selecionados
  %li #{l(Date.new(2011, 4, 30))}: Limite para inscrição no evento dos autores selecionados
