- title "Submission Guidelines"
- show_actions!

%p To submit your proposal, create an account in the submission system and fill out the submission form with the details of your proposal. <strong>If you submitted proposals last year, your account is still active</strong>. Until the submission deadline, you will be able to edit your profile, create session proposals and edit existing proposals of which you are one of the authors. You may submit as many proposals as you wish. It is not possible to remove a proposal.

%p Note that you will also be able to read proposals submitted by other users, as they will be able to read yours, even after the submission deadline.

%p The submissions will be reviewed and evaluated by at least 3 members of the Reviewing Committee. For that, they will consider:

%ul
  %li The authors' experience - both the mini biography presented in #{logged_in? ? link_to("your user profile", user_path(current_user)) : "your user profile"} and the field about experience with the subject in the submission form;
  %li Adequacy of your proposal in what concerns the chosen #{link_to "track", tracks_path}, #{link_to "session type", session_types_path}, #{link_to "audience level", audience_levels_path}, and target audience;
  %li Relevance to event;
  %li Clarity and quality of the written material.

%p Authors of the sessions selected to be in the program will be notified by email after the review period. After the notification, the authors will have a deadline to register in the conference. In case none of the authors register before the deadline, their sessions will be removed from the program.

%p See the important dates below:

%ul
  %li
    %strong #{l(Date.new(2011, 2, 5))}: Call for Submissions
  %li #{l(Date.new(2011, 2, 14))}: Release of proposal submission form
  %li #{l(Date.new(2011, 3, 19))}: Submission deadline
  %li #{l(Date.new(2011, 4, 25))}: Acceptance notification
  %li #{l(Date.new(2011, 4, 30))}: Inscription deadline to selected authors
