- title "Trabalhos da #{current_conference.name}"
- show_actions!
.auto_focus

%p A Conferência Brasileira sobre Métodos Ágeis de Desenvolvimento de Software – #{link_to(current_conference.name, "http://www.agilebrazil.com/2011/")} – é uma conferência nacional sem fins lucrativos organizada por representantes das principais comunidades ágeis brasileiras. O evento tem como propósito promover a comunicação e a colaboração entre seus integrantes visando à disseminação coordenada da cultura Ágil por todo o país.

%p O #{current_conference.name} acontecerá em Fortaleza, no fim de Junho, contando com cursos, apresentação de trabalhos e relatos de experiência provenientes de várias regiões do país, alem da participação de convidados reconhecidos internacionalmente.

%p Submeta sua proposta de trabalho e venha se juntar a nós em Fortaleza! Leia as #{link_to(t('title.guidelines'), static_page_path('guidelines'))}, elabore sua proposta e submeta. Para submeter, basta entrar com seu usuário e senha, clicar em '#{t('actions.submit_session')}' e preencher o formulário. Envie a sua, comente as propostas dos outros e faça da Agile Brazil 2011 a conferência perfeita para você.

%h3 Datas importantes

%ul
  %li #{l(Date.new(2011, 2, 5))}: Divulgação da chamada de trabalhos
  %li #{l(Date.new(2011, 2, 14))}: Abertura do formulário de submissão de propostas
  %li #{l(Ability::SESSION_SUBMISSION_DEADLINE.to_date)}: Submissão de propostas - Leia as regras de submissao
  %li #{l(Ability::AUTHOR_NOTIFICATION_DEADLINE.to_date)}: Notificação aos autores selecionados
  %li
    %strong #{l(Ability::AUTHOR_CONFIRMATION_DEADLINE.to_date)}: Limite para confirmação das palestras dos autores selecionados

