- title "Invitation to be part of the #{@conference.name} review committee"
.auto_focus

%p Dear #{@reviewer.user.full_name},

%p Thanks for considering being part of the review committee for #{@conference.name}. To confirm your participation, please choose the tracks that you would be comfortable to review, as well as rating your own knowledge level on each selected track:

- content_for :agreement do
  %h3 TERM OF AGREEMENT AS REVIEWER OF #{@conference.name.upcase}

  %p
    To confirm your participation and commitment as REVIEWER of the submitted proposals to the
    Industrial track of #{@conference.name} Conference, you must agree with the following terms:
  %ol
    %li
      As a Reviewing Committee member, I will contribute to the selection of a high level
      technical program in order to transform #{@conference.name} in an internacional reference
      event about agile methods;
    %li
      As a reviewer, I will analyse critically and impartially proposals submitted to the
      Industrial track, following the guidelines defined by the event Program Committee;
    %li
      As a reviewer, I will follow the orientations from the Program Committee during the
      execution of this activity, trying to fullfil the goals and targets (schedule and
      quantity of reviews) presented by the reviewing system;
    %li
      As a reviewer, I will not announce the review results until those are published by the
      Program Committee;
    %li
      As a reviewer, I commit myself to refuse the review of works that can fit personal
      interest, such as my own submissions or those of my clients, relatives, friends and
      business partners; or still of works too similar to those I submitted;
    %li
      As a reviewer, I will comply with the requests from the Track Organizers in order to
      ensure a good distribution of works and flow of the proposal review process;
    %li
      As a reviewer, I may request more information and clarifications to the respective
      authors of each proposal in order to avoid injustices and contribute with the program
      quality ensurance;
    %li
      As a member of the Review Committee, I acknowledge that the final selection of proposals
      that will compose #{@conference.name}'s program will be performed by the Program Committee,
      based on the criteria and reviews provided by the reviewers;
    %li
      As a member of the Review Committee, I acknowledge that this is a voluntary and not
      remunerated work, not being allowed to transfer any expenses to #{@conference.name}'s
      organization;
    %li
      If there is any impediment to accomplish my targets, I will communicate immediatly to
      the Program Coordinators the need of replacement and transfer of my responsibilities.
  %p 
    And, acknowledging that #{@conference.name}'s Organization team is providing me complete
    trust for an ethical and professional behavior in the selection process of the submitted
    proposal to the conference, I acknowledge the possible consequences of atitudes that may
    conflict with the responsibilities that I assume by accepting the terms of this document.
    
= render 'accept_reviewers/form'