- title "Invitation to be part of the #{@conference.name} review committee"
.auto_focus

%p Dear #{@reviewer.user.full_name},

%p Thanks for considering being part of the review committee for #{@conference.name}. To confirm your participation, please choose the tracks that you would be comfortable to review, as well as rating your own knowledge level on each selected track:

- content_for :agreement do
  %h3 TERM OF AGREEMENT AS REVIEWER OF #{@conference.name.upcase}
  %p To confirm your participation and commitment as REVIEWER of the proposals submitted to the
  #{@conference.name} Conference, you must agree with the following terms.

  %p Please pay attention to these terms, it is very important that you understand them. If you
  have any doubts, please contact Agile Brazil Program Committee by e-mail at
  #{mail_to 'programa@agilebrazil.com'}.

  %br
  (1) As a member of the Reviewing Committee, I will contribute to the selection of a high
  level program in order to make #{@conference.name} an international reference
  event about agility;
  %br
  (2) As a reviewer, I will analyze critically and impartially proposals submitted to the
  conference, following the guidelines defined by the event Program Committee;
  %br
  (3) As a reviewer, I will follow any guidelines suggested by the Program Committee during the
  execution of this activity, trying to fulfill the goals and targets (schedule
  and quantity of reviews) presented by the reviewing system;
  %br
  (4) As a reviewer, I will not announce the review results until those are published by the
  Program Committee;
  %br
  (5) As a reviewer, I will not review any work that could be considered biased due to
  conflict of interest, such as my own submissions or those of my clients, relatives,
  friends, business partners; or even of proposals that are similar to those I submitted;
  %br
  (6) As a reviewer, I will comply with the requests from the Program Committee in order to
  ensure a good distribution of works and flow of the proposal review process;
  %br
  (7) As a reviewer, I may request more information and clarifications to the respective
  authors of each proposal in order to avoid injustices and contribute with the program
  quality assurance;
  %br
  (8) As a member of the Review Committee, I acknowledge that the final selection of proposals
  that will compose #{@conference.name}'s program will be performed by the Program Committee,
  based on the criteria and reviews provided by the reviewers;
  %br
  (9) As a member of the Review Committee, I acknowledge that this is a voluntary and unpaid work, not being allowed to transfer any expenses to #{@conference.name}'s
  organization;
  %br
  (10) If there is any impediment to accomplish my targets, I will communicate immediately to
  the Program Committee (#{mail_to 'programa@agilebrazil.com'}) the need of replacement and
  transfer of my responsibilities.
  %br
  And, acknowledging that #{@conference.name}'s Organization team is providing me complete
  trust for an ethical and professional behavior in the selection process of the submitted
  proposal to the conference, I acknowledge the possible consequences of attitudes that may
  conflict with the responsibilities that I assume by accepting the terms of this document.

= render 'accept_reviewers/form'
