- title "Convite para participar da equipe de avaliação da #{@conference.name}"
.auto_focus

%p Olá #{@reviewer.user.full_name},

%p Obrigado por considerar fazer parte da equipe de avaliação da #{@conference.name}. Para confirmar sua participação, por favor escolha as trilhas nas quais se julga apto a avaliar trabalhos, assim como seu nível de conhecimento na respectiva trilha:

- content_for :agreement do
  %h3 TERMO DE COMPROMISSO COMO REVISOR(A) DA #{@conference.name.upcase}
  %p Para confirmar sua participação e comprometimento como REVISOR(A) dos trabalhos submetidos à Conferência
  #{@conference.name} você deve estar de acordo com os termos abaixo.

  %p Por favor preste atenção aos termos, é muito importante que você os tenha entendido.  Se tiver dúvidas,
  entre em contato com o Comitê de Programa da #{@conference.name} através do e-mail #{mail_to 'programa@agilebrazil.com'}.

  %br
  (1) Como membro(a) do Comitê de Revisão, contribuirei para a seleção de um programa de alto nível a
  fim de tornar a #{@conference.name} um evento de referência internacional em agilidade;
  %br
  (2) Como revisor(a), analisarei de forma crítica e imparcial trabalhos submetidos para a conferência,
  segundo diretrizes definidas pelo Comitê de Programa do evento;
  %br
  (3) Como revisor(a), seguirei as orientações do Comitê de Programa durante a realização desta atividade,
  procurando cumprir os objetivos e metas (prazo e quantidade de revisões) apresentados pelo sistema de
  revisão;
  %br
  (4) Como revisor(a), não poderei divulgar os resultados das avaliações até que os mesmos sejam publicados
  pelo Comitê de Programa;
  %br
  (5) Como revisor(a), comprometo-me a não avaliar trabalhos que possam caracterizar interesse pessoal,
  como as minhas próprias submissões ou as de clientes, parentes, amigos e parceiros de negócio; ou
  ainda de trabalhos muito similares àqueles que eu tenha submetido;
  %br
  (6) Como revisor(a), atenderei as solicitações feitas pelo Comitê de Programa a fim de
  garantir uma boa distribuição de trabalhos e fluxo do processo de revisão das submissões;
  %br
  (7) Como revisor(a), poderei solicitar maiores informações e esclarecimentos aos respectivos autores(as) de cada
  submissão, a fim de evitar injustiças e contribuir com a garantia da qualidade do programa;
  %br
  (8) Como membro(a) do Comitê de Revisão, declaro estar ciente de que a seleção final dos trabalhos que irão
  compor o programa da #{@conference.name} será feita pelo Comitê de Programa, com base nos critérios e
  pareceres realizados pelos(as) revisores(as);
  %br
  (9) Como membro(a) do Comitê de Revisão, reconheço ser este um trabalho voluntário e não remunerado, não
  podendo transferir à organização da #{@conference.name} despesas de qualquer natureza;
  %br
  (10) Em caso de impedimento para o cumprimento de minhas metas, comunicarei imediatamente o Comitê de
  Programa (#{mail_to 'programa@agilebrazil.com'}) sobre a necessidade de substituição e transferência de
  minhas responsabilidades.
  %br
  E, por reconhecer que a Organização da #{@conference.name} está depositando em mim total confiança por uma
  conduta ética e profissional no processo de seleção dos trabalhos submetidos para a conferência, estou ciente
  das possíveis consequências de atos que possam conflitar com as responsabilidades que assumo aceitando os
  termos deste documento.

= render 'accept_reviewers/form'
