- form.inputs do
  = form.input :author_id, :as => :hidden, :input_html => {:tabindex => autotab}
  = form.input :track_id, :required => true, :as => :select, :collection => Track.all, :label_method => Proc.new { |tr| t(tr.title) }, :input_html => {:tabindex => autotab}
  = form.input :audience_level_id, :required => true, :as => :select, :collection => AudienceLevel.all, :label_method => Proc.new { |al| t(al.title) }, :input_html => {:tabindex => autotab}
  = form.input :session_type_id, :required => true, :as => :select, :collection => SessionType.all, :label_method => Proc.new { |st| t(st.title) }, :input_html => {:tabindex => autotab}
  = form.input :duration_mins, :required => true, :as => :select, :collection => [["45 #{t('generic.minutes')}", 45], ["90 #{t('generic.minutes')}", 90]], :input_html => {:tabindex => autotab}
  = form.input :audience_limit, :input_html => {:tabindex => autotab}
  = form.input :title, :required => true, :input_html => {:tabindex => autotab}
  = form.input :keyword_list, :required => true, :input_html => {:tabindex => autotab}
  = form.input :second_author_username, :input_html => {:tabindex => autotab}
  = form.input :target_audience, :required => true, :input_html => {:tabindex => autotab}
  = form.input :summary, :required => true, :input_html => {:rows => 10, :tabindex => autotab}
  = form.input :description, :required => true, :input_html => {:tabindex => autotab}
  = form.input :mechanics, :required => true, :input_html => {:tabindex => autotab}
  = form.input :benefits, :required => true, :input_html => {:rows => 10, :tabindex => autotab}
  = form.input :experience, :required => true, :input_html => {:rows => 10, :tabindex => autotab}

:javascript
  $(document).ready(function() {
    $("#session_second_author_username").autocomplete("#{users_path(:format => :js)}");
    $("#session_keyword_list").autocomplete("#{tags_path(:format => :js)}", {
      multiple: true
    });
    
    $("#session_session_type_id").filterOn("#session_track_id", {
      "4": ["", "1", "2"]
    })
    $("#session_duration_mins").filterOn("#session_track_id", {
      "4": ["", "90"]
    })
    $("#session_track_id").bindSelectUpdated();
    
    $("#session_session_type_id").bind('updated', sessionTypeActions);
    $("#session_session_type_id").bindSelectUpdated();
    
    
    $("#session_session_type_id, #session_track_id").trigger('updated');
  })
  
  function sessionTypeActions() {
    // Workshops or Tutorials
    if ($(this).val() === "2" || $(this).val() === "1") {
      $("#session_audience_limit_input").show();
      // Only Workshop
      if ($(this).val() === "2") {
        $('#session_mechanics_input').find('label abbr').show();
      } else {
        $('#session_mechanics_input').find('label abbr').hide();
      }
    } else {
      $("#session_audience_limit_input").hide();
      $("#session_audience_limit").val("");
      $('#session_mechanics_input').find('label abbr').hide();
    }
  }