- title t('title.sessions')
- show_actions!

%ul
  - if params[:tagged_with]
    %li= t('text.tagged_with', :tag => h(params[:tagged_with]))
  - if params[:user_id]
    %li= t('text.for_user', :name => h(@user.try(:full_name)))

%table.sessions
  %thead
    %tr
      %th.title= t('formtastic.labels.session.title')
      %th.author= t('formtastic.labels.session.author_id')
      %th.author= t('formtastic.labels.session.second_author_id')
      %th.updated_at= t('formtastic.labels.session.updated_at')
  %tbody
    - @sessions.each do |session|
      - content_tag_for(:tr, session, :class => cycle(:odd, :even)) do
        %td.title= link_to h(session.try(:title)), session_path(session)
        %td.author= link_to h(session.author.full_name), user_path(session.author)
        %td.author
          - if session.second_author
            = link_to h(session.second_author.full_name), user_path(session.second_author)
        %td.updated_at
          = time_ago_in_words(session.updated_at)
          = t('generic.ago')

- if @sessions.total_pages > 1
  #pagination= will_paginate(@sessions)
