- title t('title.sessions')
- show_actions!

= semantic_form_for @session_filter, url: sessions_path(@conference), method: :get do |f|
  = f.inputs do
    = f.input :tags, input_html: { tabindex: autotab, :'data-autocomplete-url' => tags_path(format: :json, year: @conference.year, locale: I18n.locale) }
    = f.input :username, input_html: { tabindex: autotab, :'data-autocomplete-url' => users_path(format: :json) }
  - if @conference.tracks.size > 1 || @conference.session_types.size > 1
    = f.inputs do
      - if @conference.tracks.size > 1
        = f.input :track_id, as: :select, collection: @tracks.map { |tr| [t(tr.title), tr.id]}, input_html: { tabindex: autotab }, include_blank: t('generic.all')
      - if @conference.session_types.size > 1
        = f.input :session_type_id, as: :select, collection: options_for_session_types(@session_types), input_html: { tabindex: autotab }, include_blank: t('generic.all')
  = f.actions do
    = f.action :submit, label: :filter_session, button_html: { tabindex: autotab }

= render partial: 'sessions/sessions'

- if @sessions.total_pages > 1
  #pagination= will_paginate(@sessions)
