- title t('title.new_session')
- show_actions!
.auto_focus

= if @user_profile_outdated
  .form_tip
    = t('text.sessions.update_profile_to_submit_session').html_safe
    = link_to t('actions.edit_profile'), edit_registration_path(current_user)
- else
  = semantic_form_for @session, url: sessions_path(@conference) do |form|
    = render 'form', form: form
    = form.actions do
      = form.action :submit, label: :submit_session, button_html: {tabindex: autotab}
