- title @session.title
- show_actions!

.author= link_to @session.author.full_name, user_path(@session.author)

- content_tag_for(:dl, @session) do
  %dt= t('formtastic.labels.session.track_id')
  %dd= t(@session.track.title)
  %dt= t('formtastic.labels.session.target_audience')
  %dd= @session.try(:target_audience)
  %dt= t('formtastic.labels.session.audience_limit')
  %dd= @session.try(:audience_limit)
  %dt= t('formtastic.labels.session.summary')
  %dd= @session.try(:summary)
  %dt= t('formtastic.labels.session.description')
  %dd= @session.try(:description)
  %dt= t('formtastic.labels.session.mechanics')
  %dd= @session.try(:mechanics)
  %dt= t('formtastic.labels.session.benefits')
  %dd= @session.try(:benefits)
  %dt= t('formtastic.labels.session.experience')
  %dd= @session.try(:experience)