- title t('title.lost_password')
.auto_focus

%p= t('text.lost_password.instructions')

= semantic_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post} do |form|
  = form.inputs do
    = form.input :email, :hint => false, :input_html => {:tabindex => autotab}
  = form.actions do
    = form.action :submit, :label => :reset_password, :button_html => {:tabindex => autotab}
