Olá #{@session.authors.map(&:full_name).join(" & ")},


Um novo comentário foi feito na sua sessão '#{h(@session.title)}':


= @comment.comment


Você pode responder ao comentário adicionando o seu próprio comentário na página da sua sessão:


= session_url(@conference, @session, locale: 'pt', anchor: 'comments')


Gratos,


Equipe de programa da #{@conference_name}


[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
