Olá #{@session.authors.map(&:full_name).join(" & ")},


Uma pré-avaliação foi submetida para sua sessão '#{h(@session.title)}'. Ela pode ser visualizada em:


= session_reviews_url(@session.conference, @session, locale: 'pt', type: 'early')


Esta avaliação NÃO será considerada para a seleção final de propostas. Seu propósito é apenas de fornecer um feedback antes da data de limite de submissões. Sinta-se à vontade para modificar o que considerar necessário na sua proposta antes do fim do prazo (#{l(@conference.submissions_deadline, format: :short)}):


= edit_session_url(@session.conference, @session, locale: 'pt')


Atenciosamente,


Equipe de programa da #{@conference_name}


[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
