%p Olá #{h(@session.authors.map(&:full_name).join(" & "))},

%p
  Uma pré-avaliação foi submetida para sua sessão <strong>'#{h(@session.title)}'</strong>. Ela pode ser visualizada em:
  %br
  = link_to session_reviews_url(@session.conference, @session, locale: 'pt-BR', type: 'early'), session_reviews_url(@session.conference, @session, locale: 'pt-BR', type: 'early')

%p
  Esta avaliação NÃO será considerada para a seleção final de propostas. Seu propósito é apenas de fornecer um feedback antes da data de limite de submissões. Sinta-se à vontade para modificar o que considerar necessário na sua proposta antes do fim do prazo (#{l(@conference.submissions_deadline, format: :short)}):
  %br
  = link_to edit_session_url(@session.conference, @session, locale: 'pt-BR'), edit_session_url(@session.conference, @session, locale: 'pt-BR')

%p Atenciosamente,

%p Equipe de programa da #{@conference_name}

%small [Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
