Dear #{@session.authors.map(&:full_name).join(" & ")},


We are pleased to inform you that your proposal '#{h(@session.title)}' has been selected to be part of the program of the Brazilian Conference about Agile Methods – #{@conference_name}!


Please refer to the comments and suggestions made by the reviewers by accessing:

= session_reviews_url(@conference, @session, :type => :final, :locale => 'en')


We would like to ask you to confirm your attendance at the event until #{@conference.author_confirmation.strftime('%H:%M of %B %dth, %Y')} by accessing the form at

= session_confirm_url(@conference, @session, :locale => 'en')

Note that reviewers and track organizers may have added suggestions of changes in your proposal. If so, you will only be able to make those changes when completing the form mentioned above. Please read the comments and suggestions before completing this form so you can make all changes suggested.

If you can not attend the event, we kindly ask you to confirm your withdrawal using the form at

= session_withdraw_url(@conference, @session, :locale => 'en')


- if(@session.authors.size > 1)
  Any of the two authors (#{@session.author.full_name} or #{@session.second_author.full_name}) may confirm or withdraw the attendance.

Once the attendance is confirmed or withdrawn, the decision is final and can not be changed.


The sessions whose authors do not confirm or withdraw their attendance until #{@conference.author_confirmation.strftime('%B %dth, %Y')} will be automatically removed from the program and replaced immediately by other selected work.


If your attendance is confirmed, the organization of #{@conference_name} will contact you about the complementary registration earned by proposal for the event.
- if @session.authors.size > 1
  Note that, although you have two presenters for your proposal, there is only one complementary registration per proposal. When the organization contacts you, you will have to chose which presenter will use the registration. The other one will have to register as a regular attendee.


Should you have any queries, requests or comments, please contact the Program Committee at programa@agilebrazil.com.


We hope to see you soon!

#{"--"}

Program Committee of #{@conference_name} Conference


[Please do not reply to this e-mail. It was sent from an unmonitored email address]
