Hello, #{@session.authors.map(&:full_name).join(" & ")}!


Unfortunately, your session didn't make it :(

Your proposal '#{h(@session.title)}' was not selected to be part of #{@conference_name}'s program.


We received a large number of submissions, and it was very challenging to select the proposals that will be part of our schedule during the days of the conference.


Throughout this process, we had to say "no" to plenty of sessions with great feedback from our reviewers, considering our need to design a high-quality set of sessions balancing topic variety, audience levels, session types and the diversity that we foster on our program year after year.


Please check the feedback reviewers from the Agile community wrote specifically about your session proposal here:

= session_reviews_url(@conference, @session, type: :final, locale: 'en')


Should you have any doubts, requests or comments, do not hesitate in contacting the Program Committee at programa@agilebrazil.com.


We thank you so much for sending your proposal and for being part of the history of #{@conference_name} :) We hope to see you in this year's conference, and we also hope to get new session proposals from you in #{@conference.year + 1}!


Our best regards,


#{"--"}

Program Committee

#{@conference_name}


[Please do not reply to this e-mail. It was sent from an unmonitored email address]
