%p Hello, #{h(@session.authors.map(&:full_name).join(" & ").html_safe)}!

%p
  Unfortunately, your session didn't make it :(
  %br
  Your proposal '#{h(@session.title)}'
  %strong was not selected
  to be part of #{@conference_name}'s program.

%p
  We received a great number of submissions and it was a challenge to select the 62 (sixty two) ones that will be part of our schedule during the three days of the conference.

%p
  Throughout this process, we had to say "no" to plenty of sessions with excellent feedback from our reviewers, considering our need to design a high-quality set of proposals along with a good balance between tracks, audience levels, session types and diversity that we foster on our program year after year.

%p
  You can get access to your specific session feedback here:
  %br
  = link_to session_reviews_url(@conference, @session, type: :final, locale: 'en'), session_reviews_url(@conference, @session, type: :final, locale: 'en')

%p Should you have any doubts, requests or comments, do not hesitate in contacting the Program Committee at #{mail_to 'programa@agilebrazil.com'}.

%p We thank you so much for sending your proposal and for being part of the history of #{@conference_name} :) We hope to see you in Belem for this year's conference, and we also hope to get new session proposals from you in #{@conference.year + 1}!

%p Our best regards,

%p
  = "--"
  %br
  %strong Program Committee
  %strong= @conference_name

%small [Please do not reply to this e-mail. It was sent from an unmonitored email address]
