%p Dear #{h(@session.authors.map(&:full_name).join(" & "))},

%p Due to a problem in our server, not all email notifications were sent. Therefore, we decided it would be better to resend all notifications to avoid any further problems. If you have already received this email, please ignore it.

%p We are pleased to inform you that your proposal <strong>'#{h(@session.title)}'</strong> has been selected to be part of the program of the Brazilian Conference about Agile Methods – #{@conference_name}!

%p
  Please refer to the comments and suggestions made by the evaluators accessing:
  %br
  = link_to session_reviews_url(@conference, @session, :locale => 'en'), session_reviews_url(@conference, @session, :locale => 'en')

%p
  We would like to ask you to confirm your attendance at the event until #{@conference.author_confirmation.strftime('%H:%M of %B %dth, %Y')} by accessing the form at
  %br
  = link_to session_confirm_url(@conference, @session, :locale => 'en'), session_confirm_url(@conference, @session, :locale => 'en')

%p
  If you cannot attend the event, we kindly ask you to confirm your withdrawal using the form at
  %br
  = link_to session_withdraw_url(@conference, @session, :locale => 'en'), session_withdraw_url(@conference, @session, :locale => 'en')

- if(@session.authors.size > 1)
  %p
    Any of the two authors (#{@session.author.full_name} or #{@session.second_author.full_name}) may confirm or withdraw the attendance. Once the attendance is confirmed or withdrawn by any author, none can change the decision.

%p The sessions whose authors do not confirm or withdraw their attendance until #{@conference.author_confirmation.strftime('%B %dth, %Y')} will be automatically removed from the program and replaced immediately by other selected work.

%p If your attendance is confirmed, the organization of #{@conference_name} will contact you about your complementary registration#{@session.authors.size > 1 ? 's' : ''} for the event.

%p Should you have any queries, requests or comments, please contact the Program Committee at #{mail_to 'programa@agilebrazil.com'}.

%p
  We hope to see you soon!
  %br
  = "--"
  %br
  Program Committee of #{@conference_name} Conference

%small [Please do not reply to this e-mail. It was sent from an unmonitored email address]
