Olá, #{@session.authors.map(&:full_name).join(" & ")}!


Infelizmente, não foi dessa vez :(

Sua proposta '#{h(@session.title)}' não foi selecionada para compor o programa da #{@conference_name}.


Tivemos um grande número de submissões e foi realmente um desafio selecionar as 62 (sessenta e duas) que integrarão nossa grade ao longo dos três dias de conferência.


Nesse processo, tivemos que abrir mão de muitas sessões com excelentes feedbacks dos revisores, considerando nossa necessidade de manter um conjunto de alta qualidade e com um bom equilíbrio entre as trilhas, os níveis de audiência, os tipos de sessão e a diversidade que valorizamos em nosso programa ano após ano.


Você#{@session.authors.size > 1 ? "s":""} pode#{@session.authors.size > 1 ? "m":""} ver o feedback específico da sua sessão por aqui:

= session_reviews_url(@conference, @session, type: :final, locale: 'pt-BR')


Em caso de dúvidas, pedidos ou comentários, não hesite#{@session.authors.size > 1 ? "m":""} em procurar o Comitê de Programa através do email programa@agilebrazil.com.


Nós agradecemos muito pelo envio da sua proposta e por fazer parte de mais um ano na história da #{@conference_name} :) Esperamos recepcioná-lo#{@session.authors.size > 1 ? "s":""} em Belém para a conferência deste ano, e também receber novas propostas de submissão suas em #{@conference.year + 1}!


Um grande abraço,


#{"--"}

Comitê de Programa

#{@conference_name}


[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
