[ERRATA]
Realizamos um ajuste na data limite para confirmar ou rejeitar sua participação como palestrante deste ano: 31/07/2022 às 00:00 (sábado para domingo).
Pedimos encarecidamente que caso não possa participar este ano, rejeite oficialmente sua participação neste email.
Agradecemos sua compreensão.

Olá, #{@session.authors.map(&:full_name).join(" & ")}!


É com grande satisfação que comunicamos a entrada da sua sessão '#{h(@session.title)}' no programa da #{@conference_name}!


Tivemos um grande número de submissões e foi realmente um desafio selecionar as propostas que integrarão nossa grade ao longo dos dias de conferência. Então, parabéns! :)


Agora, você precisa tomar algumas ações até as #{@conference.author_confirmation.strftime('%Hh%Mmin %Z do dia %d/%m/%Y')} para confirmar ou rejeitar sua participação como palestrante deste ano. Vamos a elas:


1) Consulte as críticas e sugestões feitas nas revisões acessando o endereço: #{session_reviews_url(@conference, @session, type: :final, locale: 'pt-BR')}. É possível que seja necessário fazer alguma alteração no título ou resumo. Se esse for o caso, isso será feito na ação (2).


2) Confirme sua presença na conferência e efetue quaisquer mudanças sugeridas pelas pessoas revisoras. Para isso, acesse este formulário: #{session_confirm_url(@conference, @session, locale: 'pt-BR')}


3) Caso você não possa comparecer ao evento, confirme sua desistência para liberar sua vaga através do formulário: #{session_withdraw_url(@conference, @session, locale: 'pt-BR')}. Vale dizer que, uma vez que você confirmar sua desistência, essa decisão é final e não pode ser mudada.


Sessões que não forem confirmadas serão removidas do programa e substituídas por outras propostas selecionadas que estão em backup.
- if(@session.authors.size > 1)
  Qualquer um dos dois autores (#{@session.author.full_name} ou #{@session.second_author.full_name}) pode confirmar ou cancelar a proposta. Mas, basta que UM dos autores confirme ou cancele para a sessão ser confirmada ou cancelada. Se um autor já confirmou ou cancelou, o outro autor pode receber uma mensagem informando que não tem autorização para realizar a nova ação.


Se você completou os passos (1) e (2) e confirmou sua sessão na conferência, comemore! \o/

A organização da #{@conference_name} entrará em contato nos próximos meses para dar início ao processo de inscrição.


Em caso de dúvidas, pedidos ou comentários, entre em contato com o Comitê de Programa através do e-mail programa@agilebrazil.com.


Mais uma vez, parabéns!

Esperamos vê-lo#{@session.authors.size > 1 ? "s":""} em Campinas em outubro!


Um grande abraço,


#{"--"}

Comitê de Programa

#{@conference_name}


[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
