Caro#{@session.authors.size > 1 ? "s":""} #{@session.authors.map(&:full_name).join(" & ")},


É com grande satisfação que comunicamos que seu trabalho '#{h(@session.title)}' foi selecionado para integrar o programa da Conferência Brasileira sobre Métodos Ágeis de Desenvolvimento de Software – #{@conference_name}!


Por favor, consulte as críticas e sugestões feitas pelos avaliadores acessando o endereço:

= session_reviews_url(@conference, @session, type: :final, locale: 'pt-BR')


Por gentileza, queira confirmar sua presença no evento até às #{@conference.author_confirmation.strftime('%Hh%Mmin do dia %d/%m/%Y')} acessando o formulário

= session_confirm_url(@conference, @session, locale: 'pt-BR')

Note que avaliadores e coordenadores de trilha podem ter feito sugestões de mudanças na sua proposta. Se o fizeram, só será possível efetuar essas mudanças ao completar o formulário mencionado acima. Por favor, leia os comentários e sugestões antes de completar o formulário para poder levar em considerações as mudanças sugeridas.


Caso você não possa comparecer ao evento, pedimos a gentileza de confirmar sua desistência através do formulário

= session_withdraw_url(@conference, @session, locale: 'pt-BR')


- if(@session.authors.size > 1)
  Qualquer um dos dois autores (#{@session.author.full_name} ou #{@session.second_author.full_name}) pode confirmar ou cancelar a proposta.

Uma vez que a proposta for confirmada ou cancelada, a decisão é final e não pode ser mudada.


A sessão que não for confirmada ou cancelada até o dia #{@conference.author_confirmation.strftime('%d/%m/%Y')} será automaticamente removida da programação, sendo substituída imediatamente por outro trabalho selecionado.


Caso sua sessão seja confirmada, a organização da #{@conference_name} entrará em contato para dar início ao processo de inscrição.

- if @session.authors.size > 1 && @session.respond_to?(:experience_report?) && @session.experience_report?
  Note que, apesar de sua proposta ter dois autores, há apenas uma inscrição gratuita por relato de experiência. Quando a organização entrar em contato, será necessário escolher qual dos autores usará a inscrição gratuita. O outro autor deverá se inscrever como conferencista normal.


Em caso de dúvidas, pedidos ou comentários, contate a Comissão de Programa através do email programa@agilebrazil.com.


Esperamos vê-lo#{@session.authors.size > 1 ? "s":""} em breve!

#{"--"}

Equipe de programa da #{@conference_name}


[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
