Hello, #{h(@session.authors.map(&:full_name).join(" & "))}!


We are thrilled to announce that your session '#{h(@session.title)}' was approved for #{@conference_name}'s program!


We received a large number of submissions, and it was a challenge to select the ones that are going to be part of our program during the days of the conference. Thus, congratulations! :-)

Now, you must take some actions until #{@conference.author_confirmation.strftime('%H:%M %Z of %B %dth, %Y')} to confirm or withdraw your participation as a speaker this year. Here they are:


1) Review comments and suggestions made by the reviewers at:

= session_reviews_url(@conference, @session, type: :final, locale: 'en')

It is possible that some changes need to be made in the title or abstract. If that is the case, this can be done on action (2).


2) Confirm your attendance at the conference and make the changes to the title and abstract your reviewers might have suggested. To do so, access this form:

= session_confirm_url(@conference, @session, locale: 'en')


3) In case you won't be able to attend the conference, confirm your withdrawal through the form:

= session_withdraw_url(@conference, @session, locale: 'en')

so that your slot is freed. Note that, once you confirm your withdrawal, this is a final decision that cannot be changed.


Unconfirmed sessions will be removed from the program and replaced by other selected proposals that are now on the waiting list.
- if(@session.authors.size > 1)
  Any of the two authors (#{@session.author.full_name} or #{@session.second_author.full_name}) may confirm or withdraw the proposal. However, it only necessary for ONE author to confirm or withdraw the proposal. If an author already confirmed or withdrew the proposal, the other may receive an 'Unauthorized action' message.


If you completed steps (1) and (2) and had your session confirmed for the conference, celebrate it \o/

#{@conference_name}'s organizers will contact you in the next few months to start your registration process.


In case you have any questions, requests or comments, you can contact the Program Committee at programa@agilebrazil.com.


Once again, congratulations!

We hope to see you in Campinas in October!


Our best regards,


#{"--"}

Program Committee

= @conference_name


[Please do not reply to this e-mail. It was sent from an unmonitored email address]
