%p Hello, #{h(@session.authors.map(&:full_name).join(" & ").html_safe)}!

%p We have good and bad news regarding your session proposal '#{h(@session.title)}' submitted to #{@conference_name}.

%p Bad news is that, up to this point, your session was not selected to compose this year's program. We received a large number of submissions and it was a challenge to select the 62 (sixty two) ones that are going to compose our schedule during the three conference days.

%p
  But, the good news is that your session was highly evaluated and
  %strong is listed as one of our backup sessions,
  so it can be still selected! :)

%p Stay tuned and keep your hopes up: if a selected author withdraws his/her session, then backup proposals will be called immediately. If your session becomes part of our selected list, #{@conference_name}'s organizing committee will reach out to you.

%p
  You can read the reviewer's specific session feedback here:
  %br
  = link_to session_reviews_url(@conference, @session, type: :final, locale: 'en'), session_reviews_url(@conference, @session, type: :final, locale: 'en')

%p Should you have any doubts, requests or comments, do not hesitate in contacting the Program Committee at #{mail_to 'programa@agilebrazil.com'}.

%p We hope to have even better news soon and, regardless of the outcome, we hope to see you in Belem this year!

%p Our best regards,

%p
  = "--"
  %br
  %strong Program Committee
  %strong= @conference_name

%small [Please do not reply to this e-mail. It was sent from an unmonitored email address]
