Hello, #{h(@session.authors.map(&:full_name).join(" & "))}!


We are thrilled to announce that your session '#{h(@session.title)}' was approved for #{@conference_name}'s program!


We received a great number of submissions and it was a challenge to select the 62 (sixty two) ones that are going to be part of our program during the three conference days. So, congratulations! :-)

Now, you must take some actions until #{@conference.author_confirmation.strftime('%H:%M %Z of %B %dth, %Y')} to confirm or withdraw your participation as a speaker this year. Let's check those:


1) Review critics and suggestions made by the reviewers at:

= session_reviews_url(@conference, @session, type: :final, locale: 'en')

It is possible that something needs to be changed and, if that is the case, this will be done on action (2).


2) Confirm your attendance on the conference and perform any suggested changes made by the reviewers. To do so, access this form:

= session_confirm_url(@conference, @session, locale: 'en')


3) In case you won't be able to attend the conference, confirm your withdrawal through the form:

= session_withdraw_url(@conference, @session, locale: 'en')

Note that, once you confirm your withdrawal, this is a final decision that cannot be changed.


Unconfirmed sessions will be removed from the program and replaced by other selected proposals that are now on the waiting list.
- if(@session.authors.size > 1)
  Any of the two authors (#{@session.author.full_name} or #{@session.second_author.full_name}) may confirm or withdraw the proposal. However, it only necessary for ONE author to confirm or withdraw the proposal. If an author already confirmed or withdrew the proposal, the other may receive an 'Unauthorized action' message.


If you completed steps (1) and (2) and had your session confirmed for the conference, celebrate it \o/

#{@conference_name}'s organizers will contact you soon to start your registration process.


- if @session.authors.size > 1 && @session.duration_mins < 50
  Note that, although you have two presenters for your proposal, there is *only one complementary registration per 25 minutes proposal*. When the organization contacts you, you will have to chose which presenter will use the registration. The other one will have to register as a regular attendee.


In case you have any doubts, requests or comments, you can contact the Program Committee at programa@agilebrazil.com.


Once again, congratulations!

We hope to see you in Belem in September!


Our best regards,


#{"--"}

Program Committee

= @conference_name


[Please do not reply to this e-mail. It was sent from an unmonitored email address]
