Olá, #{@session.authors.map(&:full_name).join(" & ")}!


Temos uma boa e uma má notícia sobre a sua proposta '#{h(@session.title)}', submetida para a #{@conference_name}.


A má notícia é que, neste momento, sua sessão não foi selecionada para compor o programa. Tivemos um número grande número de submissões e foi realmente um desafio selecionar as 62 (sessenta e duas) que integrarão nossa grade ao longo dos três dias de conferência.


Porém, a boa notícia é que sua sessão foi muito bem avaliada e consta na lista de propostas backup, podendo ainda vir a ser selecionada! :)


Fique atento(a) e não perca as esperanças, pois havendo desistência de autores aprovados as sessões em backup serão chamadas gradualmente. Caso sua proposta seja selecionada, a organização da #{@conference_name} entrará em contato.


Veja as revisões específicas sobre sua sessão aqui:

= session_reviews_url(@conference, @session, type: :final, locale: 'pt-BR')


Em caso de dúvidas, pedidos ou comentários, não hesite#{@session.authors.size > 1 ? "m":""} em procurar o Comitê de Programa através do email programa@agilebrazil.com.


Esperamos ter boas notícias em breve e, independentemente disso, esperamos vê-lo#{@session.authors.size > 1 ? "s":""} em Belém este ano!


Um grande abraço,


#{"--"}

Comitê de Programa

#{@conference_name}


[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
