%h3 Olá #{@user.full_name},

%p Recebemos uma requisição para alterar sua senha. Caso você não tenha feito essa requisição, simplesmente ignore este email. Se você requisitou recuperação de senha, clique no link abaixo:

%p= link_to edit_password_reset_url(@user.perishable_token, :locale => 'pt'), edit_password_reset_url(@user.perishable_token, :locale => 'pt')

%p Se a URL acima não funcionar tente copiar e colar o endereço completo no seu navegador. Se você continuar com problemas, por favor entre em contato conosco através do endereço #{link_to "programa@agilebrazil.com", "mailto:programa@agilebrazil.com"}.

%p Após alterar sua senha, você pode acessar #{link_to root_url, root_url} novamente utilizando seu nome de usuário <strong>#{@user.username}</strong>.

%p Gratos,

%p Equipe de programa da Agile Brazil 2010

%small [Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]