Dear #{h(@attendee.full_name)},



Your registration as #{I18n.t(@attendee.registration_type.title)} priced #{number_to_currency(@attendee.base_price, :locale => :pt)} at #{@attendee.conference.name} was confirmed successfully.

- unless @attendee.courses.empty?
  Besides the conference, you also registered for the following courses:
  - @attendee.courses.each do |course|
    #{"-"} '#{I18n.t(course.full_name)}' priced #{number_to_currency(course.price(@attendee.registration_date), :locale => :pt)}



Please look for the event registration desk starting June 27th at 7 A.M. to get your credentials. The event will take place at Fábrica de Negócios, Av. Monsenhor Tabosa 740, Iracema beach, with entrance through Rua João Cordeiro, at Fortaleza, Ceará.



If you have any questions, please contact us at #{AppConfig[:organizer][:email]}



[Please do not reply to this e-mail. It was sent from an unmonitored email address]
