Car#{@attendee.male? ? 'o' : 'a'} #{h(@attendee.full_name)},


Seu pedido de inscrição na #{@attendee.conference.name} foi realizado com sucesso. Para completar o processo de inscrição, siga os seguintes passos:


1) Faça um depósito identificado de R$ #{number_with_precision(@attendee.registration_fee(@now), :precision => 2)} na seguinte conta:

#{"    "}Titular: RESULT SOLUÇÕES EMPRESARIAIS E EVENTOS

#{"    "}CNPJ: 10.784.390/0001-91

#{"    "}Banco: Caixa Econômica Federal (104)

#{"    "}Agência: 1560

#{"    "}Conta corrente: 113-8

#{"    "}Operação: 022


2) Caso não consiga identificar o depósito junto ao banco, escreva seu número de inscrição (#{@attendee.id}) no comprovante de depósito


3) Envie o comprovante de depósito #{@attendee.student? ? "e um comprovante de estudo*" : ""} para o email #{AppConfig[:organizer][:email]} com cópia para #{AppConfig[:organizer][:cced_email]}



Você deve enviar o comprovante de depósito até o dia #{I18n.l(@now.to_date + 5)}. Após essa data o valor para sua inscrição poderá atualizado conforme a tabela disponível em http://www.agilebrazil.com.br/2011/pt/inscricoes.php.


- if @attendee.student?
  * - Documentos válidos como comprovante de estudo:

  #{"  "}Carteirinha da instituição com prazo de validade;

  #{"  "}Boleto de mensalidade da instituição;

  #{"  "}Declaração de matrícula da instituição.



Qualquer dúvida, entre em contato através do email #{AppConfig[:organizer][:email]}



[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]