%p Dear #{h(@group.contact_name)},

%p Your request for registering the following #{@group.total_attendees} participants on group #{h(@group.name)}, priced a total of #{number_to_currency(@group.registration_fee, :locale => :pt)}, at #{@conference_name} was received successfully.

%ul
  - @group.attendees.each do |attendee|
    %li
      #{h(attendee.full_name)} priced #{number_to_currency(attendee.base_price, :locale => :pt)}
      - unless attendee.courses.empty?
        %ul
          - attendee.courses.each do |course|
            %li '#{I18n.t(course.full_name)}' priced #{number_to_currency(course.price(attendee.registration_date), :locale => :pt)}

%p In order to complete the registration process, please follow the instructions on the page:

%p= link_to registration_group_status_url(@group.uri_token, :locale => 'en'), registration_group_status_url(@group.uri_token, :locale => 'en')

%p You can access this page at any time to make the payment and check the status of this company's registrations, so keep this e-mail and link for future reference. Your registration number is:

%p
  %strong Registration Number:
  = @group.to_param

%p If you have any questions, please contact us at #{mail_to AppConfig[:organizer][:email]}

%small [Please do not reply to this e-mail. It was sent from an unmonitored email address]