Car#{@attendee.male? ? 'o' : 'a'} #{h(@attendee.full_name)},


Seu pedido de inscrição na #{@attendee.conference.name} foi realizado com sucesso. Para completar o processo de inscrição, siga os seguintes passos:


1) Faça um depósito identificado de R$ #{number_with_precision(@attendee.registration_fee, :precision => 2)} na seguinte conta:
    
#{"    "}Banco: ????
    
#{"    "}Agência: ????
    
#{"    "}Conta corrente: ????
    
#{"    "}CNPJ: ????
    
2) Caso não consiga identificar o depósito junto ao banco, escreva seu número de inscrição (#{@attendee.id}) no comprovante de depósito


3) Envie o comprovante de depósito #{@attendee.student? ? "e um comprovante de estudo*" : ""} para o email #{AppConfig[:organizer][:email]}



Você deve enviar o comprovante de depósito até o dia #{I18n.l(@attendee.created_at.to_date + 5)}. Após essa data o valor para sua inscrição poderá atualizado conforme a tabela disponível em #{link_to "http://www.agilebrazil.com.br/2011/pt/inscricoes.php", "http://www.agilebrazil.com.br/2011/pt/inscricoes.php"}.


- if @attendee.student?
  * - Documentos válidos como comprovante de estudo:
  
  #{"  "}Carteirinha da instituição com prazo de validade;
  
  #{"  "}Boleto de mensalidade da instituição;
  
  #{"  "}Declaração de matrícula da instituição.



Qualquer dúvida, entre em contato através do email #{AppConfig[:organizer][:email]}



[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]