Olá #{h(@group.contact_name)},


A inscrição do grupo #{h(@group.name)} na #{@conference_name} dos #{@group.total_attendees} participantes abaixo, no valor total de #{number_to_currency(@group.registration_fee, :locale => :pt)}, foi realizada com sucesso:

- @group.attendees.each do |attendee|
  #{"-"} #{h(attendee.full_name)} no valor de #{number_to_currency(attendee.base_price, :locale => :pt)}
  - attendee.courses.each do |course|
    #{"  -"} '#{I18n.t(course.full_name)}' no valor de #{number_to_currency(course.price(attendee.registration_date), :locale => :pt)}


Para completar o processo de inscrição, por favor siga as instruções descritas na seguinte página:


= registration_group_status_url(@group.uri_token, :locale => 'pt')


Você pode acessar essa página a qualquer momento para realizar o pagamento ou verificar o status da inscrição dessa empresa. Guarde esse e-mail e link para referência futura, assim como seu número de inscrição:


NÚMERO DE INSCRIÇÃO: #{@group.to_param}


Qualquer dúvida, entre em contato através do email #{AppConfig[:organizer][:email]}



[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]