Car#{@attendee.male? ? 'o' : 'a'} #{h(@attendee.full_name)},


Seu pedido de inscrição de tipo #{I18n.t(@attendee.registration_type.title)} no valor de #{number_to_currency(@attendee.base_price, :locale => :pt)} na #{@attendee.conference.name} foi realizado com sucesso.

- unless @attendee.courses.empty?
  Além da conferência, você se inscreveu para os seguintes cursos:
  - @attendee.courses.each do |course|
    #{"-"} '#{I18n.t(course.full_name)}' no valor de #{number_to_currency(course.price(@attendee.registration_date), :locale => :pt)}


Para completar o processo de inscrição, por favor siga as instruções descritas na seguinte página:


= attendee_status_url(@attendee.uri_token, :locale => 'pt')


Você pode acessar essa página a qualquer momento para realizar o pagamento ou verificar o status da sua inscrição. Guarde esse e-mail e link para referência futura.


Qualquer dúvida, entre em contato através do email #{AppConfig[:organizer][:email]}



[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]