%p Olá #{h(@registration_group.contact_name)},

%p A inscrição da empresa <strong>#{h(@registration_group.name)}</strong> no valor de #{number_to_currency(@registration_group.registration_fee, :locale => :pt)} na #{@conference_name} foi confirmada. A inscrição inclui:

%ul
  - @registration_group.attendees.each do |attendee|
    %li
      #{h(attendee.full_name)} no valor de #{number_to_currency(attendee.base_price, :locale => :pt)}
      - unless attendee.courses.empty?
        %ul
          - attendee.courses.each do |course|
            %li '#{I18n.t(course.full_name)}' no valor de #{number_to_currency(course.price(attendee.registration_date), :locale => :pt)}

%p Qualquer dúvida, entre em contato através do email #{mail_to AppConfig[:organizer][:email]}

%small [Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]