%p Dear #{h(@attendee.full_name)},

%p Your request for registration as <strong>#{I18n.t(@attendee.registration_type.title)}</strong> priced #{number_to_currency(@attendee.base_price, :locale => :pt)} at #{@attendee.conference.name} was received successfully.

- unless @attendee.courses.empty?
  %p Besides the conference, you also registered for the following courses:
  %ul
    - @attendee.courses.each do |course|
      %li '#{I18n.t(course.full_name)}' priced #{number_to_currency(course.price(@attendee.registration_date), :locale => :pt)}
      
%p In order to complete the registration process, please follow the instructions on the page:

%p= link_to attendee_status_url(@attendee.uri_token, :locale => 'en'), attendee_status_url(@attendee.uri_token, :locale => 'en')

%p You can access this page at any time to make the payment and check the status of your registration, so keep this e-mail and link for future reference.

%p If you have any questions, please contact us at #{mail_to AppConfig[:organizer][:email]}

%small [Please do not reply to this e-mail. It was sent from an unmonitored email address]