Dear #{h(@registration_group.contact_name)},


The registration of company <strong>#{h(@registration_group.name)}</strong> priced #{number_to_currency(@registration_group.registration_fee, :locale => :pt)} at #{@conference_name} was confirmed successfully. The registration includes:

- @registration_group.attendees.each do |attendee|
  #{"-"} #{h(attendee.full_name)} priced #{number_to_currency(attendee.base_price, :locale => :pt)}
  - attendee.courses.each do |course|
    #{"  -"} '#{I18n.t(course.full_name)}' priced #{number_to_currency(course.price(attendee.registration_date), :locale => :pt)}


If you have any questions, please contact us at #{mail_to AppConfig[:organizer][:email]}


[Please do not reply to this e-mail. It was sent from an unmonitored email address]