%p Car#{@attendee.male? ? 'o' : 'a'} #{h(@attendee.full_name)},

%p Seu pedido de inscrição no grupo <strong>#{h(@group.name)}</strong> na #{@attendee.conference.name} foi realizado com sucesso.

- unless @attendee.courses.empty?
  %p Além da conferência, você se inscreveu para os seguites cursos:
  %ul
    - @attendee.courses.each do |course|
      %li '#{I18n.t(course.full_name)}'

%p Instruções para completar o processo de inscrição serão enviadas para o organizador do seu grupo assim que todos os participantes se inscreverem.

%h3 Importante:

- deadline = @now.to_date + 5
%p
  - unless @attendee.courses.empty?
    A confirmação de pagamento do seu grupo deve ser enviada até o dia #{I18n.l(deadline)}. Após essa data, sua vaga #{@attendee.courses.size > 1 ? 'nos' : 'no'} #{@attendee.courses.size > 1 ? 'cursos' : 'curso'} não será garantida. Para verificar a disponibilidade de vagas no curso, entre em contato via #{mail_to AppConfig[:organizer][:email]}.

%p Qualquer dúvida, entre em contato através do email #{mail_to AppConfig[:organizer][:email]}

%small [Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]