Dear #{h(@group.contact_name)},

Your request for registering the following #{@group.total_attendees} participants on group #{h(@group.name)}, priced a total of #{number_to_currency(@group.registration_fee, :locale => :pt)}, at #{@conference_name} was received successfully.

- @group.attendees.each do |attendee|
  #{"-"} #{h(attendee.full_name)} priced #{number_to_currency(attendee.base_price, :locale => :pt)}
  - attendee.courses.each do |course|
    #{"  -"} '#{I18n.t(course.full_name)}' priced #{number_to_currency(course.price(attendee.registration_date), :locale => :pt)}


In order to complete the registration process, please follow the instructions on the page:


= registration_group_status_url(@group.uri_token, :locale => 'en')


You can access this page at any time to make the payment and check the status of this company's registrations, so keep this e-mail and link for future reference. Your registration number is:


REGISTRATION NUMBER: #{@group.to_param}


If you have any questions, please contact us at #{AppConfig[:organizer][:email]}

[Please do not reply to this e-mail. It was sent from an unmonitored email address]