%p Car#{@attendee.male? ? 'o' : 'a'} #{h(@attendee.full_name)},

%p Seu pedido de inscrição de tipo <strong>#{I18n.t(@attendee.registration_type.title)}</strong> no valor de #{number_to_currency(@attendee.base_price, :locale => :pt)} na #{@attendee.conference.name} foi realizado com sucesso.

- unless @attendee.courses.empty?
  %p Além da conferência, você se inscreveu para os seguintes cursos:
  %ul
    - @attendee.courses.each do |course|
      %li '#{I18n.t(course.full_name)}' no valor de #{number_to_currency(course.price(@attendee.registration_date), :locale => :pt)}

%p Para completar o processo de inscrição, por favor siga as instruções descritas na seguinte página:

%p= link_to attendee_status_url(@attendee.uri_token, :locale => 'pt'), attendee_status_url(@attendee.uri_token, :locale => 'pt')

%p Você pode acessar essa página a qualquer momento para realizar o pagamento ou verificar o status da sua inscrição. Guarde esse e-mail e link para referência futura.

%p Qualquer dúvida, entre em contato através do email #{mail_to AppConfig[:organizer][:email]}

%small [Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]