%p Dear #{h(@group.contact_name)},

%p Your request for registering the following #{@group.total_attendees} participants on group #{h(@group.name)}, priced a total of #{number_to_currency(@group.registration_fee, :locale => :pt)}, at #{@conference_name} was received successfully.

%ul
  - @group.attendees.each do |attendee|
    %li
      #{h(attendee.full_name)} priced #{number_to_currency(attendee.base_price, :locale => :pt)}
      - unless attendee.courses.empty?
        %ul
          - attendee.courses.each do |course|
            %li '#{I18n.t(course.full_name)}' priced #{number_to_currency(course.price(attendee.registration_date), :locale => :pt)}

%p In order to complete the registration process, you must pay the total amount of #{number_to_currency(@group.registration_fee, :locale => :pt)}. In order to do so, please follow these steps:
%ol
  %li 
    If you are paying in USD:
    %br Bank: New York Citybank
    %br Account: 36026886 - Caixa Econômica Federal
    %br SWIFT Code: CITIUS33
    %br
    %br If you are paying in EUR:
    %br Bank: CommerzBank Ag/Frankfurt
    %br Account: 400871228300EUR - Caixa Econômica Federal
    %br SWIFT Code: COBADEFF
    %br
    %br Otherwise please contact #{mail_to AppConfig[:organizer][:email]} to discuss other possible payment methods.
  %li Write your registration number (#{@group.to_param}) in your deposit voucher
  %li Send your voucher to the email #{mail_to AppConfig[:organizer][:email]} cc'ing #{mail_to AppConfig[:organizer][:cced_email]}

%h3 Important:

- deadline = @group.attendees.first.registration_date.to_date + 5
- total_courses = @group.attendees.map {|attendee| attendee.courses.size}.sum
%p
  - if total_courses > 0
    You must send your deposit voucher until #{I18n.l(deadline)}. After that date, #{total_courses > 1 ? 'places' : 'a place'} in the #{total_courses > 1 ? 'courses' : 'course'} will no longer be guaranteed. To check place availability in any course, please contact #{mail_to AppConfig[:organizer][:email]}.
  %br After #{I18n.l([@group.registration_period.end_at.to_date, deadline].max)}, the registration amounts will be updated according to the table available at #{link_to "http://www.agilebrazil.com.br/2011/en/inscricoes.php", "http://www.agilebrazil.com.br/2011/en/inscricoes.php"}.

%p If you have any questions, please contact us at #{mail_to AppConfig[:organizer][:email]}

%small [Please do not reply to this e-mail. It was sent from an unmonitored email address]