%p Dear #{h(@user.full_name)},

%p A request to reset your password has been made. If you did not make this request, simply ignore this email. If you did make this request just click the link below:

%p= link_to edit_password_url(@user, :reset_password_token => @user.reset_password_token, :locale => 'en'), edit_password_url(@user, :reset_password_token => @user.reset_password_token, :locale => 'en')

%p If the above URL does not work try copying and pasting it into your browser.

%p After resetting your password, you can access #{link_to root_url, root_url} and login using:

%ul
  %li <strong>Username</strong>: #{h(@user.username)}

%p If you continue to have problems please feel free to contact us at #{link_to "programa@agilebrazil.com", "mailto:programa@agilebrazil.com"}.

%p Regards,

%p Program Committee of #{@conference_name} Conference

%small [Please do not reply to this e-mail. It was sent from an unmonitored email address]