Olá #{@user.full_name},


Recebemos uma requisição para alterar sua senha. Caso você não tenha feito essa requisição, simplesmente ignore este email. Se você requisitou recuperação de senha, clique no link abaixo:


= edit_password_url(@user, :reset_password_token => @user.reset_password_token, :locale => 'pt')


Se a URL acima não funcionar tente copiar e colar o endereço completo no seu navegador.


Após alterar sua senha, você pode acessar #{root_url} novamente utilizando:


* Nome de usuário: #{@user.username}


Se você continuar com problemas, por favor entre em contato conosco através do endereço programa@agilebrazil.com.


Gratos,


Equipe de programa da #{@conference_name}


[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]