Dear #{h(@reviewer.user.full_name)},


The Program Committee for #{@conference_name} (http://www.agilebrazil.com/#{@conference.year}/en/) is pleased to invite you to join its Reviewing Committee. We learned that you have a strong relationship with Agile Methods, startups, or using agility in practice which are themes of our conference. As such, we would like to incorporate your knowledge in selecting the sessions for this year's program. The work performed by the Reviewing Committee as well as the Organizing Committee is completely voluntary. Joining the Committee is a way to support the conference and contribute towards the development the Brazilian Agile community.


Before accepting your invitation, it is important to acknowledge the commitment that you are about to take. To participate in the evaluation process requires time and impartiality to create a conference with the best possible program.

* During the submission period, read the proposals and add comments to those! This feedback works like a pre-review, providing the authors with the opportunity to enhance their submissions.

* During the review period, which ends on #{l(@conference.submissions_deadline, format: :short)}, each submitted proposal must receive 3 independent reviews.


It is important to point out that we are not able to predict how many proposals we are going to receive, but we do ask each reviewer to access the submission system daily during the submission period in order to comment on the proposals and afterwards - during the review period - to be prepared to evaluate around 20 sessions. The reviews themselves do not need to be delivered all at once - the sessions will be available online and it is up to you to organize your schedule to meet the deadlines.


A note worthy of mention: as a Committee member, you are also eligible to submit proposals to the conference. Submissions are open and can be sent via #{root_url(year: @conference.year, locale: 'en')}.


To accept this invitation, please go to the following url:


= reviewer_accept_url(@conference, @reviewer, locale: 'en')


To decline this invitation, please go to the following url:


= reviewer_reject_url(@conference, @reviewer, locale: 'en')


If any of the above URLs does not work, try copying and pasting into your browser.


Please respond this invitation as soon as possible. We are looking forward to a successful collaboration in building an outstanding program for #{@conference_name}. If you have any questions please feel free to contact us at programa@agilebrazil.com.


Regards,


Program Committee


[Please do not reply to this e-mail. It was sent from an unmonitored email address]
