%p Olá #{h(@reviewer.user.full_name)},

%p O Comitê Organizador da #{@conference_name} (#{link_to "www.agilebrazil.com", "http://www.agilebrazil.com/#{@conference.year}"}) gostaria de convidá-lo para integrar o seu Comitê de Avaliação das propostas. Sabemos que você possui um forte envolvimento com Métodos Ágeis, empreendedorismo digital ou uso de agilidade no Governo que são focos do nosso evento. Assim, gostaríamos de contar com o seu conhecimento para a seleção das palestras, workshops, tutoriais e relatos de experiência que comporão a grade deste ano. O trabalho realizado pelo Comitê de Avaliação é totalmente voluntário, assim como toda a organização do evento. Fazer parte deste Comitê é uma forma de apoiar o evento e contribuir para o desenvolvimento da comunidade ágil brasileira.

%p Antes de aceitar o convite, é importante saber da responsabilidade e do compromisso que você está assumindo. Participar do processo de avaliação requer <strong>tempo e imparcialidade</strong> para que possamos montar um evento com palestras da melhor qualidade. Neste ano, embora não tenhamos a fase de pré-avaliação, recomendamos fortemente que você comece o mais cedo possível a dar feedback! Pratique lendo as submissões já foram mandadas e comentando nelas!

%ul
  %li Durante o período de submissões, leia as sessões submetidas e comente nelas! Esses comentários servem como uma fase de pré-avaliação e ajuda os autores a melhorarem suas propostas.
  %li Na etapa de avaliação, que deve ir até #{l(@conference.submissions_deadline, :format => :short)}, cada proposta deverá receber 3 avaliações independentes.

%p Até o presente momento, é impossível prever quantas propostas receberemos, mas esperamos que cada avaliador reserve em torno de 4 horas por semana ao longo de cada etapa para realizar as avaliações. As avaliações não precisam ser feitas de uma vez - elas estarão online e fica a seu critério definir como o tempo será alocado.

%p Vale ressaltar que fazer parte do comitê não o impede de enviar propostas também. As submissões estão abertas e podem ser feitas em #{link_to root_url(:year => @conference.year), root_url(:year => @conference.year)}.

%p Para aceitar este convite, clique no link abaixo:

%p= link_to reviewer_accept_url(@conference, @reviewer, :locale => 'pt'), reviewer_accept_url(@conference, @reviewer, :locale => 'pt')

%p Para rejeitar este convite, clique no link abaixo:

%p= link_to reviewer_reject_url(@conference, @reviewer, :locale => 'pt'), reviewer_reject_url(@conference, @reviewer, :locale => 'pt')

%p Se alguma das URLs acima não funcionar tente copiar e colar o endereço completo no seu navegador.

%p Por favor, responda a esse convite até #{l(Time.zone.local(2014, 07, 20), :format => :short)}. Contamos com sua colaboração para montar uma programação excelente para a #{@conference_name}. Se você tiver alguma dúvida, por favor entre em contato conosco através do endereço #{link_to "programa@agilebrazil.com", "mailto:programa@agilebrazil.com"}.

%p Gratos,

%p Equipe de programa da #{@conference_name}

%small [Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
