%p Caro(a) #{h(@author.full_name)},

%p O Comitê Organizador da #{@conference_name} (#{link_to 'www.agilebrazil.com', "http://www.agilebrazil.com/#{@conference.year}/"}) gostaria de pedir sua ajuda para melhorar o processo de avaliação de propostas. Como proponente para a conferência, você recebeu avaliações para sua proposta dos nossos avaliadores. Essa é sua chance de nos ajudar a entender quais avaliações foram mais valiosas para você.

%p Para nos enviar esse feedback, queira preencher o formulário disponível em #{link_to new_review_feedback_url(@conference, protocol: 'https'), new_review_feedback_url(@conference, protocol: 'https')}. Ele nos ajudará a identificar quais avaliadores lhe deram avaliações mais interessantes e porque você as achou interessante. Você também terá a chance de sugerir mudanças para melhorar todo o processo de propostas e avaliações.

%p Se alguma URL acima não funcionar, tente copiá-la e colá-la no seu navegador.

%p Gratos,

%p Equipe de programa da #{@conference_name}

%small [Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]