%p Olá #{h(@reviewer.user.full_name)}!

%p O Comitê de Programa da #{@conference_name} (#{link_to "www.agilebrazil.com", "http://www.agilebrazil.com/#{@conference.year}"}) gostaria de convidar você para integrar o Comitê de Revisão das submissões. Como você já revisou sessões em anos passados e gostaríamos de contar com o seu conhecimento e senso crítico para a seleção de sessões que comporão a grade deste ano.

O trabalho realizado pelo Comitê de Revisão é totalmente voluntário, assim como toda a organização do evento. Fazer parte deste Comitê é uma forma de apoiar a conferência e contribuir para o desenvolvimento da comunidade ágil brasileira.

%p Antes de aceitar o convite, é importante saber da responsabilidade e do compromisso que você está assumindo. Participar do processo de avaliação requer <strong>tempo</strong> e <strong>imparcialidade</strong> para que possamos montar um evento com palestras da melhor qualidade. Para maiores informações acesse o #{link_to 'manual do revisor', 'https://docs.google.com/document/d/1Ey-LYidWJsOc7CkC6I7Yt3liuBb11KpFCwawpNDAGfc/edit'}.

Na etapa de revisão, que deve ir até #{l(@conference.submissions_deadline, format: :short)}, cada proposta deverá receber de 2 a 3 revisões independentes.

%p <strong>É impossível prever</strong> quantas propostas receberemos, mas esperamos que analise em torno de 20 submissões no período. As revisões não precisam ser feitas de uma vez - elas estarão online e fica a seu critério definir como o tempo será alocado.

%p Vale ressaltar que ter submetido sessões não impede fazer parte do comitê de revisão - você só não poderá revisar sessões com os mesmos temas da sua submissão..

%p QUERO SER REVISOR(A) DA AGILE BRAZIL:

%p= link_to reviewer_accept_url(@conference, @reviewer, locale: 'pt-BR'), reviewer_accept_url(@conference, @reviewer, locale: 'pt-BR')

%p Infelizmente vou rejeitar o convite:

%p= link_to reviewer_reject_url(@conference, @reviewer, locale: 'pt-BR'), reviewer_reject_url(@conference, @reviewer, locale: 'pt-BR')

%p Se alguma das URLs acima não funcionar tente copiar e colar o endereço completo no seu navegador.

%p Por favor, responda a esse convite, através dos links acima, o quanto antes. Contamos com sua colaboração para montar uma programação excelente para a #{@conference_name}. Se você tiver alguma dúvida, por favor entre em contato conosco através do endereço #{link_to "programa@agilebrazil.com", "mailto:programa@agilebrazil.com"}.

%p Enquanto as revisões não começam, você já pode entrar no grupo de revisores no Telegram (https://t.me/+96u_B4XzOFQzOTQ5) e fazer comentários nas submissões! Comentários feitos durante esse período servem como uma fase de pré-revisão, ajudando quem submeteu a melhorar suas submissões antes das revisões.

%p Gratos,

%p Comitê de Programa

%small [Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
