%p Olá #{h(@reviewer.user.full_name)}!

%p O Comitê de Programa da #{@conference_name} (#{link_to "www.agilebrazil.com", "http://www.agilebrazil.com/#{@conference.year}"}) gostaria de convidar você para integrar o seu Comitê de Revisão das submissões. Sabemos que você possui um forte envolvimento com Métodos Ágeis, empreendedorismo digital ou uso de agilidade na prática que são focos da nossa conferência. Assim, gostaríamos de contar com o seu conhecimento para a seleção de sessões que comporão a grade deste ano. O trabalho realizado pelo Comitê de Revisão é totalmente voluntário, assim como toda a organização do evento. Fazer parte deste Comitê é uma forma de apoiar a conferência e contribuir para o desenvolvimento da comunidade ágil brasileira.

%p Antes de aceitar o convite, é importante saber da responsabilidade e do compromisso que você está assumindo. Participar do processo de avaliação requer <strong>tempo</strong> e <strong>imparcialidade</strong> para que possamos montar um evento com palestras da melhor qualidade. Para maiores informações acesse o #{link_to 'manual do revisor', 'https://docs.google.com/document/d/1Ey-LYidWJsOc7CkC6I7Yt3liuBb11KpFCwawpNDAGfc/edit'}.

%ul
  %li Durante o período de submissões, leia as propostas submetidas e comente nelas! Esses comentários servem como uma fase de pré-revisão e ajuda os(as) autores(as) a melhorarem suas submissões.
  %li Na etapa de revisão, que deve ir até #{l(@conference.submissions_deadline, format: :short)}, cada proposta deverá receber 3 revisões independentes.

%p Importante lembrar que <strong>é impossível prever</strong> quantas propostas receberemos, mas esperamos que cada revisor acesse diariamente o sistema comentando as propostas durante o período de submissão e prepare-se para analisar em torno de 20 submissões na etapa de revisão. As revisões não precisam ser feitas de uma vez - elas estarão online e fica a seu critério definir como o tempo será alocado.

%p Vale ressaltar que fazer parte do comitê não o(a) impede de enviar propostas também. As submissões estão abertas e podem ser feitas em #{link_to root_url(year: @conference.year), root_url(year: @conference.year)}.

%p Para aceitar este convite, clique no link abaixo:

%p= link_to reviewer_accept_url(@conference, @reviewer, locale: 'pt-BR'), reviewer_accept_url(@conference, @reviewer, locale: 'pt-BR')

%p Para rejeitar este convite, clique no link abaixo:

%p= link_to reviewer_reject_url(@conference, @reviewer, locale: 'pt-BR'), reviewer_reject_url(@conference, @reviewer, locale: 'pt-BR')

%p Se alguma das URLs acima não funcionar tente copiar e colar o endereço completo no seu navegador.

%p Por favor, responda a esse convite o quanto antes. Contamos com sua colaboração para montar uma programação excelente para a #{@conference_name}. Se você tiver alguma dúvida, por favor entre em contato conosco através do endereço #{link_to "programa@agilebrazil.com", "mailto:programa@agilebrazil.com"}.

%p Gratos,

%p Comitê de Programa

%small [Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
