%p Dear #{h(@user.full_name)},

%p You have registered an account on the submission system for the #{@conference_name} conference. To submit a session proposal, please visit #{link_to root_url, root_url} and login with:

%ul
  %li <strong>Username</strong>: #{h(@user.username)}

%p We will use this e-mail address to communicate with you regarding your session submissions. If you have questions, issues, or suggestions, send us an email to #{link_to "programa@agilebrazil.com", "mailto:programa@agilebrazil.com"}.

%p Regards,

%p Program Committee of #{@conference_name} Conference

%small [Please do not reply to this e-mail. It was sent from an unmonitored email address]
