- title t('title.new_authorization', :client_application => @pre_auth.client.name)

- unless @pre_auth.scopes.all.empty?
  %p #{t('text.authorization_scopes')}:

  %ul
    - @pre_auth.scopes.each do |scope|
      %li= t scope, :scope => [:doorkeeper, :scopes]

%div
  %span
    = form_tag oauth_authorization_path, :method => :post, :style => "display: inline" do
      = hidden_field_tag :client_id, @pre_auth.client.uid
      = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
      = hidden_field_tag :state, @pre_auth.state
      = hidden_field_tag :response_type, @pre_auth.response_type
      = hidden_field_tag :scope, @pre_auth.scope
      = submit_tag t('actions.authorizations.authorize')

  %span= t('generic.or')

  %span
    = form_tag oauth_authorization_path, :method => :delete, :style => "display: inline" do
      = hidden_field_tag :client_id, @pre_auth.client.uid
      = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
      = hidden_field_tag :state, @pre_auth.state
      = hidden_field_tag :response_type, @pre_auth.response_type
      = hidden_field_tag :scope, @pre_auth.scope
      = submit_tag t('actions.authorizations.deny')
