- title t('title.accepted_sessions')
- show_actions!

%ul#tabs
  - @tracks.each do |track|
    %li= link_to t(track.title), "#track_#{track.id}", :class => "javascript_link"

- @tracks.each do |track|
  %div.tab{:id => "track_#{track.id}"}
    %a{:name => "track_#{track.id}"}
    %h3.track= t(track.title)
    - sessions = @sessions.select{|s| s.track == track}
    - sessions.each do |session|
      %a{:name => session.id} 
      %h4.title= session.title
      %ul.spaced
        %li= link_to_function h(session.author.full_name), "toggle('bio_#{session.id}');", :class => "author"
        - if session.second_author
          %li= link_to_function h(session.second_author.full_name), "toggle('bio_#{session.id}');", :class => "author"
      %ul.spaced
        %li
          %span.level{:class => "audience_level_#{session.audience_level.id}"}= t(session.audience_level.title)
        %li
          %span.type{:class => "session_type_#{session.session_type.id}"}= t(session.session_type.title)
        %li
          &= session.try(:duration_mins)
          = t('generic.minutes')
        - unless session.audience_limit.blank?
          %li= t('session.audience_limit', :limit => session.audience_limit)
      %span.bio{:id => "bio_#{session.id}"}
        %h6= session.author.full_name
        = textilize(session.author.try(:bio))
        - if session.second_author
          %h6= session.second_author.full_name
          = textilize(session.second_author.try(:bio))

      = textilize(session.try(:summary))