- title t('title.accepted_sessions')

- @sessions_by_track.each do |track, sessions|
  %ul#tabs
    %li= link_to t(track.title), "#track_#{track.id}"

- @sessions_by_track.each do |track, sessions|
  %div.tab{:id => "track_#{track.id}"}
    %h3.track{:id => "track_#{track.id}"}= t(track.title)
    - sessions.each do |session|
      %h4.title{:id => "session_#{session.id}"}= session.title
      %ul.spaced
        - session.authors.each do |author|
          %li= link_to_function h(author.full_name), "$('#bio_#{session.id}').toggle()"
      %ul.spaced
        %li
          %span.level{:class => "audience_level_#{session.audience_level.id}"}= t(session.audience_level.title)
        %li
          %span.type{:class => "session_type_#{session.session_type.id}"}= t(session.session_type.title)
        %li
          &= session.try(:duration_mins)
          = t('generic.minutes')
        - unless session.audience_limit.blank?
          %li= t('session.audience_limit', :limit => session.audience_limit)
      %span.bio{:id => "bio_#{session.id}"}
        - session.authors.each do |author|
          %h6= author.full_name
          = textilize(author.try(:bio))

      = textilize(session.try(:summary))

:javascript
  $(document).ready(function() {
    $(".bio").hide();
  });