- title @attendee.full_name
- show_actions!

%ul.spaced
  %li.first #{t('formtastic.labels.attendee.status')}:
  %li= t("attendee.status.#{@attendee.status}")

%h4= t('formtastic.titles.attendee_personal')

= content_tag_for(:dl, @attendee) do
  %dt= t('formtastic.labels.attendee.full_name')
  %dd= @attendee.full_name
  %dt= t('formtastic.labels.attendee.badge_name')
  %dd= @attendee.badge_name.presence || @attendee.full_name
  %dt= t('formtastic.labels.attendee.gender')
  %dd= Gender.title_for(@attendee.gender)
  - if @attendee.organization.present?
    %dt= t('formtastic.labels.attendee.organization')
    %dd= @attendee.try(:organization)
  - if @attendee.cpf.present?
    %dt= t('formtastic.labels.attendee.cpf')
    %dd= @attendee.cpf
  - if @attendee.twitter_user.present?
    %dt= t('formtastic.labels.attendee.twitter_user')
    %dd= @attendee.twitter_user

%h3= t('formtastic.titles.attendee_address')

= content_tag_for(:dl, @attendee) do
  %dt= t('formtastic.labels.attendee.email')
  %dd= @attendee.email
  %dt= t('formtastic.labels.attendee.phone')
  %dd= @attendee.phone
  %dt= t('formtastic.labels.attendee.address')
  %dd= @attendee.address
  - if @attendee.neighbourhood.present?
    %dt= t('formtastic.labels.attendee.neighbourhood')
    %dd= @attendee.neighbourhood
  %dt= t('formtastic.labels.attendee.city')
  %dd= @attendee.city
  - if @attendee.state.present?
    %dt= t('formtastic.labels.attendee.state')
    %dd= @attendee.state
  %dt= t('formtastic.labels.attendee.country')
  %dd= @attendee.country
  %dt= t('formtastic.labels.attendee.zipcode')
  %dd= @attendee.zipcode

- if @attendee.payment_notifications.size > 0
  %h3= t('formtastic.titles.attendee_payment')
  
  - @attendee.payment_notifications.each do |payment|
    = content_tag_for(:dl, payment) do
      %dt= t('formtastic.labels.payment_notification.transaction_id')
      %dd= payment.transaction_id
      %dt= t('formtastic.labels.payment_notification.paid_at')
      %dd= l(payment.created_at)
      %dt= t('formtastic.labels.payment_notification.payer_email')
      %dd= payment.payer_email
      %dt= t('formtastic.labels.payment_notification.settle_amount')
      %dd= number_to_currency(payment.settle_amount, :unit => payment.settle_currency, :format => "%n %u")
      - if payment.notes
        %dt= t('formtastic.labels.payment_notification.notes')
        %dd= payment.notes
      
= render :partial => 'shared/registration_details', :locals => {:attendee => @attendee}

%hr/

= render 'registered_attendees/confirm'
