= form.inputs :registration_group_info do
  = form.input :name, :input_html => {:tabindex => autotab}
  = form.input :cnpj, :required => true, :input_html => {:tabindex => autotab}
  = form.input :state_inscription, :required => true, :input_html => {:tabindex => autotab}
  = form.input :municipal_inscription, :required => true, :input_html => {:tabindex => autotab}
= form.inputs :registration_group_contact do
  = form.input :contact_name, :required => true, :input_html => {:tabindex => autotab}
  = form.input :contact_email, :required => true, :input_html => {:tabindex => autotab}
  = form.input :contact_email_confirmation, :required => true, :input_html => {:tabindex => autotab}
  = form.input :phone, :required => true, :input_html => {:tabindex => autotab}
  = form.input :fax, :required => true, :input_html => {:tabindex => autotab}
  = form.input :country, :required => true, :as => :country, :priority_countries => [:BR], :input_html => {:tabindex => autotab}
  = form.input :address, :required => true, :input_html => {:tabindex => autotab}
  = form.input :neighbourhood, :input_html => {:tabindex => autotab}
  = form.input :city, :required => true, :input_html => {:tabindex => autotab}
  = form.input :state, :required => true, :as => :select, :collection => ActionView::Helpers::FormOptionsHelper::ESTADOS_BRASILEIROS, :input_html => {:tabindex => autotab}
  = form.input :zipcode, :required => true, :input_html => {:tabindex => autotab}
  = form.input :total_attendees, :input_html => {:tabindex => autotab}

#flash_notice= t('flash.registration.group')

:javascript
  $(document).ready(function() {
    $("#registration_group_country").bind('updated', countryTriggered);
    $("#registration_group_country").bindSelectUpdated().trigger('updated');

    $(".total").show();
  })

  function countryTriggered() {
    if ($(this).val() != "BR") {
      $('#registration_group_state').val('').attr('disabled', 'disabled');
      $('#registration_group_state_input').find('label abbr').hide();
      $("#registration_group_cnpj").attr('disabled', 'disabled');
      $('#registration_group_cnpj_input').hide();      
      $("#registration_group_state_inscription").attr('disabled', 'disabled');
      $('#registration_group_state_inscription_input').hide();      
      $("#registration_group_municipal_inscription").attr('disabled', 'disabled');
      $('#registration_group_municipal_inscription_input').hide();      
    } else {
      $('#registration_group_state').removeAttr('disabled');
      $('#registration_group_state_input').find('label abbr').show();
      $("#registration_group_cnpj").removeAttr('disabled');
      $('#registration_group_cnpj_input').show();      
      $("#registration_group_state_inscription").removeAttr('disabled');
      $('#registration_group_state_inscription_input').show();      
      $("#registration_group_municipal_inscription").removeAttr('disabled');
      $('#registration_group_municipal_inscription_input').show();      
    }
  }