- title @user.full_name
- show_actions!

%ul.piped
  %li= link_to t('title.sessions'), user_my_sessions_path(@user)
  - if can? :update, @user
    %li= link_to t('actions.edit'), edit_user_path(@user)

- content_tag_for(:dl, @user) do
  %dt= t('formtastic.labels.user.username')
  %dd= @user.username
  
  - unless @user.organization.blank?
    %dt= t('formtastic.labels.user.organization')
    %dd= @user.organization
  
  - unless @user.website_url.blank?
    %dt= t('formtastic.labels.user.website_url')
    %dd= link_to(prepend_http(@user.website_url), prepend_http(@user.website_url), :target => '_blank')
  
  %dt= t('formtastic.labels.user.bio')
  %dd= @user.bio