- title @user_profile.full_name
- show_actions!

- if user_signed_in?
  %ul.piped
    %li= link_to t('title.user_sessions', name: @user_profile.first_name), user_sessions_path(@conference, @user_profile)
    - if can? :update, @user_profile
      %li= link_to t('actions.edit_profile'), edit_user_registration_path

= render_avatar(@user_profile, size: :bigger, display_tip: (current_user == @user_profile))

= content_tag_for(:dl, @user_profile) do
  %dt= t('formtastic.labels.user.username')
  %dd&= @user_profile.username

  - if current_user == @user_profile || current_user.try(:organizer_with_conference?) 
    %dt
      = t('formtastic.labels.user.email')
      = image_tag('icon-private.png', alt: t('text.private_field'))
    %dd&= mail_to @user_profile.email

    - if @user_profile.phone.present?
      %dt
        = t('formtastic.labels.user.phone')
        = image_tag('icon-private.png', alt: t('text.private_field'))
      %dd&= link_to @user_profile.phone, "tel:#{@user_profile.phone}"

    - if @user_profile.country.present?
      %dt
        = t('formtastic.labels.user.country')
        = image_tag('icon-private.png', alt: t('text.private_field'))
      %dd&= translated_country(@user_profile.country)

    - if @user_profile.state.present?
      %dt
        = t('formtastic.labels.user.state')
        = image_tag('icon-private.png', alt: t('text.private_field'))
      %dd&= translated_state(@user_profile.state)

    - if @user_profile.city.present?
      %dt
        = t('formtastic.labels.user.city')
        = image_tag('icon-private.png', alt: t('text.private_field'))
      %dd&= @user_profile.city

    - if @user_profile.gender.present?
      %dt
        = t('formtastic.labels.user.gender')
        = image_tag('icon-private.png', alt: t('text.private_field'))
      %dd&= translated_gender(@user_profile.gender)

    - if @user_profile.race.present?
      %dt
        = t('formtastic.labels.user.race')
        = image_tag('icon-private.png', alt: t('text.private_field'))
      %dd&= translated_race(@user_profile.race)

    - if @user_profile.disabilities.present?
      %dt
        = t('formtastic.labels.user.disabilities')
        = image_tag('icon-private.png', alt: t('text.private_field'))
      %dd&= translated_disabilities(@user_profile.disabilities)

    - if @user_profile.date_of_birth.present?
      %dt
        = t('generic.age_range')
        = image_tag('icon-private.png', alt: t('text.private_field'))
      %dd&= translated_age_range(@user_profile.date_of_birth)

    - if @user_profile.parenting_type.present?
      %dt
        = t('formtastic.labels.user.parenting_type')
        = image_tag('icon-private.png', alt: t('text.private_field'))
      %dd&= translated_parenting_type(@user_profile.parenting_type)

  - if @user_profile.organization.present?
    %dt= t('formtastic.labels.user.organization')
    %dd&= @user_profile.organization
  
  - if @user_profile.website_url.present?
    %dt= t('formtastic.labels.user.website_url')
    %dd= link_to(h(prepend_http(@user_profile.website_url)), h(prepend_http(@user_profile.website_url)), target: '_blank')

  - if @user_profile.twitter_username.present?
    %dt= t('formtastic.labels.user.twitter_username')
    %dd= link_to("@#{@user_profile.twitter_username}", "http://www.twitter.com/#{h(@user_profile.twitter_username)}", target: '_blank')

  - if @user_profile.bio.present?
    %dt= t('formtastic.labels.user.bio')
    %dd= textilize(@user_profile.bio)

  - sessions = previous_sessions(@conference, @user_profile, current_user)
  - unless sessions.empty?
    %dt= t('formtastic.labels.user.past_proposals')
    %dd= sessions.join(', ').html_safe

- if current_user == @user_profile
  %hr
  .hint
    = image_tag('icon-private.png', alt: t('text.private_field'))
    = t('text.private_field')
