- title @user.full_name
- show_actions!

- content_tag_for(:dl, @user) do
  %dt= t('formtastic.labels.user.username')
  %dd= @user.username
  
  %dt= t('formtastic.labels.user.organization')
  %dd= @user.organization
  
  - unless @user.website_url.blank?
    %dt= t('formtastic.labels.user.website_url')
    %dd= link_to(prepend_http(@user.website_url), prepend_http(@user.website_url), :target => '_blank')
  
  %dt= t('formtastic.labels.user.bio')
  %dd= @user.bio
