- title t('title.edit_conference')
- show_actions!

= semantic_form_for @conference do |form|
  = form.inputs do
    = image_tag(@conference.logo.try(:url, :medium) || "#{@conference.year}_logo.png", class: 'logo_preview', alt: 'Logo da Conferência')
    = form.file_field :logo
    = form.input :location, required: true, input_html: {tabindex: autotab}
    = form.input :start_date, required: true, as: :date_picker, input_html: {tabindex: autotab}
    = form.input :end_date, required: true, as: :date_picker, input_html: {tabindex: autotab}
    = form.input :call_for_papers, as: :date_picker, input_html: {tabindex: autotab, value: @conference.call_for_papers.try(:strftime, '%F')}
    = form.input :submissions_open, required: true, as: :date_picker, input_html: {tabindex: autotab, value: @conference.submissions_open.try(:strftime, '%F')}
    = form.input :presubmissions_deadline, as: :date_picker, input_html: {tabindex: autotab, value: @conference.presubmissions_deadline.try(:strftime, '%F')}
    = form.input :prereview_deadline, as: :date_picker, input_html: {tabindex: autotab, value: @conference.prereview_deadline.try(:strftime, '%F')}
    = form.input :submissions_deadline, required: true, as: :date_picker, input_html: {tabindex: autotab, value: @conference.submissions_deadline.try(:strftime, '%F')}
    = form.input :voting_deadline, as: :date_picker, input_html: {tabindex: autotab, value: @conference.voting_deadline.try(:strftime, '%F')}
    = form.input :review_deadline, required: true, as: :date_picker, input_html: {tabindex: autotab, value: @conference.review_deadline.try(:strftime, '%F')}
    = form.input :author_notification, required: true, as: :date_picker, input_html: {tabindex: autotab, value: @conference.author_notification.try(:strftime, '%F')}
    = form.input :author_confirmation, required: true, as: :date_picker, input_html: {tabindex: autotab, value: @conference.author_notification.try(:strftime, '%F')}
  / Tracks
  / session types
  / audience levels
  / Tags
  = form.actions do
    = form.action :submit, label: :update_conference, button_html: {tabindex: autotab}
  = form.input :visible, required: true, input_html: {tabindex: autotab}
  = form.submit
#page_previews
  - preview_name = -> (p) {"page_previews-#{p.path}-#{p.language}"}
  %ul.pages
    - @conference.pages.each do |page|
      %li.page= link_to conference_page_path(@conference, page.path, locale: page.language), "##{preview_name.call(page)}"
  - @conference.pages.each do |page|
    %div{id: preview_name.call(page)}
      = form_for [@conference, page], url: page_path(@conference, page), remote: true do |f|
        %label{for: 'page_title'}= t('formtastic.labels.page.title')
        = f.text_field(:title)
        .preview= textilize(page.content)
        .content= f.text_area(:content)
        = f.submit

:javascript
  $(document).ready(function() {
    if (!Modernizr.inputtypes.date) {
      $("input[type='date']").datepicker({
          dateFormat: "yy-mm-dd"
      });
    }
    $('#page_previews').tabs();

    var readURL = function(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('form.conference .logo_preview').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    };

    $("#conference_logo").change(function(){
      readURL(this);
    });
  })
