= form.inputs :user_login do
  = form.input :default_locale, :as => :hidden
  = form.input :first_name, :required => true, :input_html => {:tabindex => autotab}
  = form.input :last_name, :required => true, :input_html => {:tabindex => autotab}
  = form.input :username, :required => true, :input_html => {:disabled => !@user.new_record?, :tabindex => autotab}
  = form.input :email, :required => true, :input_html => {:tabindex => autotab}
  = form.input :password, :required => @user.new_record?, :input_html => {:tabindex => autotab}
  = form.input :password_confirmation, :required => @user.new_record?, :input_html => {:tabindex => autotab}
= form.inputs :user_personal do
  = form.input :wants_to_submit, :as => :boolean, :input_html => {:tabindex => autotab, :disabled => (!@user.new_record? && !@user.roles_mask_changed? && @user.author?)}
  = form.input :phone, :required => true, :input_html => {:tabindex => autotab}
  = form.input :country, :required => true, :as => :country, :priority_countries => [:BR], :input_html => {:tabindex => autotab}
  = form.input :state, :required => true, :as => :select, :collection => ActionView::Helpers::FormOptionsHelper::ESTADOS_BRASILEIROS, :input_html => {:tabindex => autotab}
  = form.input :city, :required => true, :input_html => {:tabindex => autotab}
  = form.input :organization, :input_html => {:tabindex => autotab}
  = form.input :website_url, :input_html => {:tabindex => autotab}
  = form.input :bio, :required => true, :input_html => {:tabindex => autotab}
  - if !@user.new_record?
    = form.input :current_password, :required => true, :input_html => {:tabindex => autotab}

:javascript
  $(document).ready(function() {
    $("#user_country").bind('updated', countryTriggered);  
    $("#user_country").bindSelectUpdated();
    
    $("#user_wants_to_submit").change(wantsToSubmitTriggered).trigger('change');
    $("#user_country").trigger('updated');
  })
  
  function countryTriggered() {
    if ($(this).val() != "BR") {
      $('#user_state').val('').attr('disabled', 'disabled');
      $('#user_state_input').find('label abbr').hide();
    } else {
      $('#user_state').removeAttr('disabled');
      $('#user_state_input').find('label abbr').show();
    }
  }
  
  function wantsToSubmitTriggered() {
    if ($(this).is(":checked")) {
      $("#user_country").removeAttr('disabled').trigger('updated');
      $("#user_country_input").show();
      $("#user_state").removeAttr('disabled');
      $("#user_state_input").show();
      $("#user_city").removeAttr('disabled');
      $("#user_city_input").show();
      $("#user_phone").removeAttr('disabled');
      $("#user_phone_input").show();
      $("#user_bio").removeAttr('disabled');
      $("#user_bio_input").show();
    } else {
      $("#user_country").attr('disabled', 'disabled').trigger('updated');
      $("#user_country_input").hide();
      $("#user_state").attr('disabled', 'disabled');
      $("#user_state_input").hide();
      $("#user_city").attr('disabled', 'disabled');
      $("#user_city_input").hide();
      $("#user_phone").attr('disabled', 'disabled');
      $("#user_phone_input").hide();
      $("#user_bio").attr('disabled', 'disabled');
      $("#user_bio_input").hide();
    }
    if ($(this).is(":disabled")) {
      $("#user_wants_to_submit_input").hide();
    }
  }