- title @registration_group.name
- show_actions!

%ul.spaced
  %li.first #{t('formtastic.labels.registration_group.status')}:
  %li= t("registration_group.status.#{@registration_group.status}")

%h4= t('formtastic.titles.registration_group_info')

= content_tag_for(:dl, @registration_group) do
  %dt= t('formtastic.labels.registration_group.name')
  %dd= @registration_group.name
  %dt= t('formtastic.labels.attendee.cnpj')
  %dd= @registration_group.cnpj
  %dt= t('formtastic.labels.attendee.state_inscription')
  %dd= @registration_group.state_inscription
  %dt= t('formtastic.labels.attendee.municipal_inscription')
  %dd= @registration_group.municipal_inscription

%h3= t('formtastic.titles.registration_group_contact')

= content_tag_for(:dl, @registration_group) do
  %dt= t('formtastic.labels.registration_group.contact_name')
  %dd= @registration_group.contact_name
  %dt= t('formtastic.labels.registration_group.contact_email')
  %dd= @registration_group.contact_email
  %dt= t('formtastic.labels.registration_group.phone')
  %dd= @registration_group.phone
  %dt= t('formtastic.labels.registration_group.fax')
  %dd= @registration_group.fax
  %dt= t('formtastic.labels.registration_group.address')
  %dd= @registration_group.address
  - if @registration_group.neighbourhood.present?
    %dt= t('formtastic.labels.registration_group.neighbourhood')
    %dd= @registration_group.neighbourhood
  %dt= t('formtastic.labels.registration_group.city')
  %dd= @registration_group.city
  - if @registration_group.state.present?
    %dt= t('formtastic.labels.registration_group.state')
    %dd= @registration_group.state
  %dt= t('formtastic.labels.registration_group.country')
  %dd= @registration_group.country
  %dt= t('formtastic.labels.registration_group.zipcode')
  %dd= @registration_group.zipcode

- if @registration_group.paid?
  %h3= t('formtastic.titles.attendee_payment')
  
  - @registration_group.payment_notifications.each do |payment|
    = content_tag_for(:dl, payment) do
      %dt= t('formtastic.labels.payment_notification.transaction_id')
      %dd= payment.transaction_id
      %dt= t('formtastic.labels.payment_notification.paid_at')
      %dd= l(payment.created_at)
      %dt= t('formtastic.labels.payment_notification.payer_email')
      %dd= payment.payer_email
      %dt= t('formtastic.labels.payment_notification.settle_amount')
      %dd= number_to_currency(payment.settle_amount, :unit => payment.settle_currency, :format => "%n %u")
      - if payment.notes
        %dt= t('formtastic.labels.payment_notification.notes')
        %dd= payment.notes
      
= render :partial => 'shared/registration_group_details'

%hr/

= render 'registered_groups/confirm'