%h3 Instruções para completar o processo de inscrição

.payments
  .payment_type.left
    %h4 OPÇÃO 1: Pague com PayPal
    %ol
      %li
        Efetue o pagamento no valor de #{number_to_currency(attendee.registration_fee, :locale => :pt)}:
        %p
          = form_tag AppConfig[:paypal][:url] do
            = hidden_field_tag :cmd, "_s-xclick"
            = hidden_field_tag :encrypted, paypal_encrypted_attendee(attendee, attendee_status_url(attendee.uri_token, :protocol => 'https'), payment_notifications_url(:secret => AppConfig[:paypal][:secret]))
            = image_submit_tag "https://www.paypal.com/pt_BR/i/btn/btn_paynow_SM.gif"
            = link_to_function image_tag("https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif", :border => "0", :alt => "Pague com PayPal"), "javascript:window.open('https://www.paypal.com/us/cgi-bin/webscr?cmd=xpt/cps/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"
      - if attendee.student?
        %li Envie um comprovante de estudo para o email #{mail_to AppConfig[:organizer][:email]} com cópia para #{mail_to AppConfig[:organizer][:cced_email]}

  .payment_type.right
    %h4 OPÇÃO 2: Pague com depósito identificado
    %ol
      %li
        Efetue o pagamento no valor de #{number_to_currency(attendee.registration_fee, :locale => :pt)}, fazendo um depósito identificado na conta:
        %pre
          Titular: RESULT SOLUÇÕES EMPRESARIAIS E EVENTOS
          CNPJ: 10.784.390/0001-91
          Banco: Caixa Econômica Federal (104)
          Agência: 1560
          Conta corrente: 113-8
          Operação: 022
      %li Caso não consiga identificar o depósito junto ao banco, escreva seu número de inscrição (#{attendee.id}) no comprovante de depósito
      %li Envie o comprovante de depósito #{attendee.student? ? "e um comprovante de estudo " : ""}para o email #{mail_to AppConfig[:organizer][:email]} com cópia para #{mail_to AppConfig[:organizer][:cced_email]}

%hr/

%h3 Importante

- deadline = attendee.registration_date.to_date + 5
- unless attendee.courses.empty?
  %p Você deve efetuar o pagamento online ou enviar o comprovante de depósito até o dia #{I18n.l(deadline)}. Após essa data, sua vaga #{attendee.courses.size > 1 ? 'nos cursos' : 'no curso'} não será garantida. Para verificar a disponibilidade de vagas no curso, entre em contato via #{mail_to AppConfig[:organizer][:email]}.

%p Após o dia #{I18n.l([attendee.registration_period.end_at.to_date, deadline].max)}, o valor da inscrição será atualizado conforme a tabela disponível em #{link_to "http://www.agilebrazil.com.br/2011/pt/inscricoes.php", "http://www.agilebrazil.com.br/2011/pt/inscricoes.php"}.

- if attendee.student?
  %h6 Documentos válidos como comprovante de estudo:
  %ul
    %li Carteirinha da instituição com prazo de validade;
    %li Boleto de mensalidade da instituição;
    %li Declaração de matrícula da instituição.
