- title t('title.attendees_summary')

%p= t('registration.status', :date => I18n.l(Time.zone.now))
  
%table.summary
  %tr
    %th{:rowspan=>2}= t('formtastic.labels.attendee.status')
    %th{:colspan=>2}= t("attendee.status.pending")
    %th{:colspan=>2}= "Pago por Paypal"
    %th{:colspan=>2}= "Pago por depósito"
    %th{:colspan=>2}= t("registration_total.total")
  %tr
    %th= t('registration.quantity')
    %th= t('formtastic.labels.attendee.total')
    %th= t('registration.quantity')
    %th= t('formtastic.labels.attendee.total')
    %th= t('registration.quantity')
    %th= t('formtastic.labels.attendee.total')
    %th= t('registration.quantity')
    %th= t('formtastic.labels.attendee.total')
  %tr.total
    %td Evento
    %td= @attendees.select{|a| a.pending?}.size
    %td= number_to_currency(@attendees.select{|a| a.pending?}.inject(0){|s,a| s+=a.base_price})
    %td= @attendees.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size > 0}.size
    %td= number_to_currency(@attendees.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size > 0}.inject(0){|s,a| s+=a.base_price})
    %td= @attendees.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size == 0}.size
    %td= number_to_currency(@attendees.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size == 0}.inject(0){|s,a| s+=a.base_price})
    %td= @attendees.size
    %td= number_to_currency(@attendees.inject(0){|s,a| s+=a.base_price})
  - RegistrationType.all.each do |registration_type|
    - atendeees_for_type = @attendees.select{|a| a.registration_type == registration_type}
    %tr
      %td= t(registration_type.title)
      %td= atendeees_for_type.select{|a| a.pending?}.size
      %td= number_to_currency(atendeees_for_type.select{|a| a.pending?}.inject(0){|s,a| s+=a.base_price})
      %td= atendeees_for_type.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size > 0}.size
      %td= number_to_currency(atendeees_for_type.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size > 0}.inject(0){|s,a| s+=a.base_price})
      %td= atendeees_for_type.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size == 0}.size
      %td= number_to_currency(atendeees_for_type.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size == 0}.inject(0){|s,a| s+=a.base_price})
      %td= atendeees_for_type.size
      %td= number_to_currency(atendeees_for_type.inject(0){|s,a| s+=a.base_price})
  %tr.total
    %td= t('registration_total.courses')
    %td= @attendees.select{|a| a.pending? && a.courses.size > 0}.map{|a| a.courses}.size
    %td= number_to_currency(@attendees.select{|a| a.pending? && a.courses.size > 0}.inject(0){|s,a| s+=(a.registration_fee-a.base_price)})
    %td= @attendees.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size > 0 && a.courses.size > 0}.size
    %td= number_to_currency(@attendees.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size > 0 && a.courses.size > 0}.inject(0){|s,a| s+=(a.registration_fee-a.base_price)})
    %td= @attendees.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size == 0 && a.courses.size > 0}.size
    %td= number_to_currency(@attendees.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size == 0 && a.courses.size > 0}.inject(0){|s,a| s+=(a.registration_fee-a.base_price)})
    %td= @attendees.select{|a| a.courses.size > 0}.inject(0){|s,a| s+=a.courses.size}
    %td= number_to_currency(@attendees.select{|a| a.courses.size > 0}.inject(0){|s,a| s+=(a.registration_fee-a.base_price)})
  - Course.all.each do |course|
    - atendeees_for_course = @attendees.select{|a| a.courses.include?(course)}
    %tr
      %td= t(course.name)
      %td= atendeees_for_course.select{|a| a.pending? }.size
      %td= number_to_currency( atendeees_for_course.select{|a| a.pending? }.inject(0){|s,a| s+=RegistrationPeriod.for(a.registration_date).first.price_for_course(course) })
      %td= atendeees_for_course.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size > 0}.size
      %td= number_to_currency(atendeees_for_course.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size > 0 }.inject(0){|s,a| s+=RegistrationPeriod.for(a.registration_date).first.price_for_course(course) })
      %td= atendeees_for_course.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size == 0 }.size
      %td= number_to_currency(atendeees_for_course.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size == 0 }.inject(0){|s,a| s+=RegistrationPeriod.for(a.registration_date).first.price_for_course(course) })
      %td= atendeees_for_course.size
      %td= number_to_currency(atendeees_for_course.inject(0){|s,a| s+=RegistrationPeriod.for(a.registration_date).first.price_for_course(course) })
  %tr.total
    %td= t("registration_total.total")
    %td
    %td= number_to_currency(@attendees.select{|a| a.pending?}.inject(0){|s,a| s+=a.registration_fee})
    %td
    %td= number_to_currency(@attendees.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size > 0}.inject(0){|s,a| s+=a.registration_fee})
    %td
    %td= number_to_currency(@attendees.select{|a| (a.paid? || a.confirmed?) && a.payment_notifications.size == 0}.inject(0){|s,a| s+=a.registration_fee})
    %td
    %td= number_to_currency(@attendees.inject(0){|s,a| s+=a.registration_fee})
    
%h3 Inscritos em cursos pendentes

- Course.all.each do |c|
  - pending = Attendee.find_all_by_status('pending').select{|a| a.courses.include? c}
  %p Curso #{t(c.name)}: [#{pending.map{|a| link_to a.id, registered_attendee_path(a)}.join(", ").html_safe}]