- title parent? ? t('title.registration_group_new_attendee', :registration_group => h(parent.name), :current_attendee => parent.attendees.count+1, :total_attendees => parent.total_attendees) : t('title.registration')
.auto_focus

= semantic_form_for(parent? ? [parent, @attendee] : @attendee) do |form|
  = render 'form', :form => form
  = form.buttons do
    = form.commit_button :new_registration, :button_html => {:tabindex => autotab}

- unless AppConfig[:google][:conversion_id].nil?
  / Google Code for ver p&aacute;gina de inscri&ccedil;&atilde;o Conversion Page
  :javascript
    /* <![CDATA[ */
    var google_conversion_id = #{AppConfig[:google][:conversion_id]};
    var google_conversion_language = "pt";
    var google_conversion_format = "2";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "#{AppConfig[:google][:conversion_label]}";
    var google_conversion_value = 0;
    /* ]]> */
  %script{:type => "text/javascript", :src => "http://www.googleadservices.com/pagead/conversion.js"}
  %noscript
    %div{:style => "display:inline;"}
      %img{:height => "1", :width => "1", :style => "border-style:none;", :alt => "" , :src => "http://www.googleadservices.com/pagead/conversion/#{AppConfig[:google][:conversion_id]}/?label=#{AppConfig[:google][:conversion_label]}&amp;guid=ON&amp;script=0"}/