- title t('actions.organizer_sessions')
- show_actions!

- if Session.for_conference(@conference).count.positive?
  #submissions_curve_chart{style: "width: 700px; height: 400px"}

= semantic_form_for @session_filter, url: organizer_sessions_path(@conference), method: :get do |f|
  = f.inputs do
    = f.input :track_id, as: :select, collection: options_for_select(@tracks.map{|tr| [t(tr.title), tr.id]}, @session_filter.track_id), input_html: {tabindex: autotab}, include_blank: t("generic.all")
    = f.input :state, as: :select, collection: options_for_select(@states.map{|s| [t("session.state.#{s}"), s]}, @session_filter.state), input_html: {tabindex: autotab}, include_blank: t("generic.all")
  = f.actions do
    = f.action :submit, label: :filter_session, button_html: {tabindex: autotab}

.download
  %b
    = t('actions.organizer_reports')
    \:
    = link_to image_tag('xls_icon.png'), organizer_reports_path(@conference, format: "xls")

.organizer_sessions
  .sort
    %span= t('generic.sort_by')
    %ul.headers
      %li.session_id= sortable_column('ID', :id)
      %li.title= sortable_column(t('formtastic.labels.session.title'), :title)
      %li.author= sortable_column(t('formtastic.labels.session.author_id'), :author_id)
      %li.author= sortable_column(t('formtastic.labels.session.second_author_id'), :second_author_id)
      %li.track= sortable_column(t('formtastic.labels.session.track_id'), :track_id)
      - if @conference.has_early_review?
        %li.early_reviews= sortable_column(t('review.early_review'), :early_reviews_count)
      %li.final_reviews= sortable_column(t('review.final_review'), :final_reviews_count)
      %li.status= sortable_column(t('formtastic.labels.session.state'), :state)
  .sessions
    - @sessions.each do |session|
      = content_tag_for(:div, session, class: cycle(:odd, :even)) do
        .session-header
          .session_id
            %span= 'ID:'
            %span= session.id
          .title
            %span= t('formtastic.labels.session.title') + ':'
            %span
              = link_to h(session.try(:title)), session_path(@conference, session)
              - if session.comments.size > 0
                .commentCount= session.comments.size

        .session-details
          .author
            %span= t('formtastic.labels.session.author_id') + ':'
            %span= link_to h(session.author.full_name), user_path(session.author)

          - if session.second_author
            .author
              %span= t('formtastic.labels.session.second_author_id') + ':'
              %span= link_to h(session.second_author.full_name), user_path(session.second_author)

          .track
            %span= t('formtastic.labels.session.track_id') + ':'
            %span= t(session.track.title)

        .session-review
          - if @conference.has_early_review?
            .early_reviews
              %span= t('review.early_review') + ':'
              %span= link_to_unless(session.early_reviews_count == 0, session.early_reviews_count, organizer_session_reviews_path(@conference, session, type: :early))

          .final_reviews
            %span= t('review.final_review') + ':'
            %span= link_to_unless(session.final_reviews_count == 0, session.final_reviews_count, organizer_session_reviews_path(@conference, session, type: :final))

          .status
            %span= t('.session.state') + ':'
            %span= t(session.state, scope: 'formtastic.labels')

          .author_confirmed
            %span= t('formtastic.labels.session.author_confirmed') + ':'
            %span= session.author_agreement ? t("generic.confirmed") : ""

          .author_image_agreement
            %span= t('formtastic.labels.session.author_image_agreement') + ':'
            %span= session.image_agreement ? t("generic.confirmed") : ""

        .session-actions
          - if can?(:create, ReviewDecision, session)
            %span= link_to t('actions.create_review_decision'), new_session_review_decision_path(@conference, session)
          - if can?(:edit, ReviewDecision, session)
            %span= link_to t('actions.edit_review_decision'), edit_session_review_decision_path(@conference, session, session.review_decision)
          - if can?(:cancel, session) && session.can_cancel?
            %span= link_to t('actions.cancel'), cancel_session_path(@conference, session), method: :delete, confirm: t('generic.are_you_sure', action: t('actions.cancel'))


- if @sessions.total_pages > 1
  #pagination= will_paginate(@sessions)

= javascript_include_tag :organizer_sessions

:javascript
  $(document).ready(function() {
    $.ajax('/api/submissions.json').done(function(data) {
      jQuery.submissions.initializeSubmissionsCharts(data);
    });
  });
