- title t('actions.organizer_sessions')
- show_actions!

%table.sessions
  %thead
    %tr
      %th.session_id= sortable_column('ID', :id)
      %th.title= sortable_column(t('formtastic.labels.session.title'), :title)
      %th.author= sortable_column(t('formtastic.labels.session.author_id'), :author_id)
      %th.author= sortable_column(t('formtastic.labels.session.second_author_id'), :second_author_id)
      %th.track= sortable_column(t('formtastic.labels.session.track_id'), :track_id)
      %th.reviews= sortable_column(t('formtastic.labels.session.reviews'), :reviews_count)
      %th.status= sortable_column(t('formtastic.labels.session.state'), :state)
      %th.action
  %tbody
    - @sessions.each do |session|
      - content_tag_for(:tr, session, :class => cycle(:odd, :even)) do
        %td.session_id= session.id
        %td.title
          = link_to h(session.try(:title)), session_path(session)
          - if session.comments.size > 0
            .commentCount= session.comments.size
        %td.author= link_to h(session.author.full_name), user_path(session.author)
        %td.author
          - if session.second_author
            = link_to h(session.second_author.full_name), user_path(session.second_author)
        %td.track
          = t(session.track.title)
        %td.reviews= link_to_unless(session.reviews_count == 0, session.reviews_count, organizer_session_reviews_path(session))
        %td.status
          = t("session.state.#{session.state}")
        %td.action
          - if can?(:create, ReviewDecision, session)
            = link_to t('actions.create_review_decision'), new_session_review_decision_path(session)
          - if can?(:edit, ReviewDecision, session)
            = link_to t('actions.edit_review_decision'), edit_session_review_decision_path(session, session.review_decision.id)
          - if can?(:cancel, session) && session.can_cancel?
            = link_to t('actions.cancel'), cancel_session_path(session), :method => :delete, :confirm => t('generic.are_you_sure', :action => t('actions.cancel'))

- if @sessions.total_pages > 1
  #pagination= will_paginate(@sessions)
