- title t('actions.organizer_sessions')
- show_actions!

= semantic_form_for @session_filter, url: organizer_sessions_path(@conference), method: :get do |f|
  = f.inputs do
    = f.input :track_id, as: :select, collection: @tracks, member_label: Proc.new { |tr| t(tr.title) }, input_html: {tabindex: autotab}, include_blank: t("generic.all")
    = f.input :state, as: :select, collection: @states, member_label: Proc.new { |s| t("session.state.#{s}") }, input_html: {tabindex: autotab}, include_blank: t("generic.all")
  = f.actions do
    = f.action :submit, label: :filter_session, button_html: {tabindex: autotab}

.download
  %b
    = t('actions.organizer_reports')
    \:
    = link_to image_tag('xls_icon.png'), organizer_reports_path(@conference, format: "xls")

%table.sessions
  %thead
    %tr
      %th.session_id= sortable_column('ID', :id)
      %th.title= sortable_column(t('formtastic.labels.session.title'), :title)
      %th.author= sortable_column(t('formtastic.labels.session.author_id'), :author_id)
      %th.author= sortable_column(t('formtastic.labels.session.second_author_id'), :second_author_id)
      %th.track= sortable_column(t('formtastic.labels.session.track_id'), :track_id)
      - if @conference.has_early_review?
        %th.early_reviews= sortable_column(t('review.early_review'), :early_reviews_count)
      %th.final_reviews= sortable_column(t('review.final_review'), :final_reviews_count)
      %th.status= sortable_column(t('formtastic.labels.session.state'), :state)
      %th.author_confirmed= t('formtastic.labels.session.author_confirmed')
      %th.author_image_agreement= t('formtastic.labels.session.author_image_agreement')
      %th.action
  %tbody
    - @sessions.each do |session|
      = content_tag_for(:tr, session, class: cycle(:odd, :even)) do
        %td.session_id= session.id
        %td.title
          = link_to h(session.try(:title)), session_path(@conference, session)
          - if session.comments.size > 0
            .commentCount= session.comments.size
        %td.author= link_to h(session.author.full_name), user_path(session.author)
        %td.author
          - if session.second_author
            = link_to h(session.second_author.full_name), user_path(session.second_author)
        %td.track
          = t(session.track.title)
        - if @conference.has_early_review?
          %td.early_reviews= link_to_unless(session.early_reviews_count == 0, session.early_reviews_count, organizer_session_reviews_path(@conference, session, type: :early))
        %td.final_reviews= link_to_unless(session.final_reviews_count == 0, session.final_reviews_count, organizer_session_reviews_path(@conference, session, type: :final))
        %td.status
          = t("session.state.#{session.state}")
        %td.author_confirmed
          = session.author_agreement ? t("generic.confirmed") : ""
        %td.author_image_agreement
          = session.image_agreement ? t("generic.confirmed") : ""
        %td.action
          - if can?(:create, ReviewDecision, session)
            = link_to t('actions.create_review_decision'), new_session_review_decision_path(@conference, session)
          - if can?(:edit, ReviewDecision, session)
            = link_to t('actions.edit_review_decision'), edit_session_review_decision_path(@conference, session, session.review_decision)
          - if can?(:cancel, session) && session.can_cancel?
            = link_to t('actions.cancel'), cancel_session_path(@conference, session), method: :delete, confirm: t('generic.are_you_sure', action: t('actions.cancel'))

- if @sessions.total_pages > 1
  #pagination= will_paginate(@sessions)
