- semantic_form_for @session, :url => session_confirm_path(@session), :html => {:class => 'review_decision_confirm'} do |form|
  - form.inputs do
    = form.errors_on :base
  %pre#author_agreement= yield(:agreement)
  - form.inputs :class => 'inputs accept' do
    = form.input :author_agreement, :as => :boolean, :input_html => {:tabindex => autotab}
    = form.input :image_agreement, :as => :boolean, :input_html => {:tabindex => autotab}
  - form.buttons do
    = form.commit_button :confirm_session, :button_html => {:tabindex => autotab}
    = t('generic.or')
    = link_to t('formtastic.actions.withdraw_session'), session_withdraw_path(@session)