- title "Confirmation of attendance at #{@conference.name}"
.auto_focus

%p Dear #{current_user.full_name},

%p We are pleased to inform you that your proposal "#{@session.title}" has been selected to be part of the program of the Brazilian Conference about Agile Methods – #{@conference.name}! To confirm your attendance at the event, please make the changes suggested by the organizers (if any), then read and sign the term of agreement presented below.

%p#review_decision
  %strong #{t('formtastic.labels.review_decision.note_to_authors')}:
  %br
  = @session.review_decision.note_to_authors

- content_for :agreement do
  %h3 AUTHOR TERM OF AGREEMENT - #{@conference.name.upcase}
  On agreeing to these terms, I declare that:
  %br
  (1) I will be able to present my session at #{@conference.name}, that will take place between l(@conference.start_date) and l(@conference.end_date), in #{@conference.location}, committing to value the high quality of the conference;
  %br
  (2) I will be aware that I must immediately notify the Program Committee of #{@conference.name} (#{mail_to 'programa@agilebrazil.com'}) should any unpredicted event prevent me from participating in the conference, thus allowing my session to be replaced or the issue be solved in any way;
  %br
  (3) I will grant the organization of #{@conference.name} the consent to use my image, in picture or in any media form, for non-commercial, non-political and non-religious purposes, in activities strictly related to the conference and without reproduction of the intellectual content without my acknowledgement;
  %br
  (4) All content from my session is under my own civil and intellectual responsibility and accountability, being subject to legally respond to any illegal act that may be performed during the presentation at the conference;
  %br
  (5) I will stick to the time slot assigned to me, thus respecting the conference organizers and volunteers.

= render 'confirm_sessions/form'
