- title "Confirmação de presença na #{@conference.name}"
.auto_focus

%p Olá #{current_user.full_name},

%p É com grande satisfação que comunicamos que seu trabalho "#{@session.title}" foi selecionado para integrar o programa da Conferência Brasileira sobre Métodos Ágeis de Desenvolvimento de Software – #{@conference.name}! Para confirmar sua participação no evento, você precisa realizar as alterações sugeridas pelos organizadores (se houverem), além de ler e assinar o termo de compromisso apresentado abaixo.

%p#review_decision
  %strong #{t('formtastic.labels.review_decision.note_to_authors')}:
  %br
  = @session.review_decision.note_to_authors

- content_for :agreement do
  %h3 TERMO DE COMPROMISSO COMO AUTOR(A) - #{@conference.name.upcase}
  %p Ao concordar com este termo, declaro:
  %p (1) Estar apto(a) a conduzir minha sessão na #{@conference.name}, que acontecerá entre os dias #{l(@conference.start_date)} e #{l(@conference.end_date)}, em #{@conference.location}, com o compromisso de prezar pela alta qualidade da conferência;
  %p (2) Estar ciente de que devo notificar imediatamente o Comitê de Programa da #{@conference.name} (#{mail_to 'programa@agilebrazil.com'}) caso algum evento de força maior venha a impedir minha participação na conferência, permitindo minha rápida substituição ou a resolução de problemas;
  %p (3) Ceder à organização da #{@conference.name}o direito de uso da minha imagem para fins não-comerciais, não-políticos e não-religiosos (tanto em foto quanto em vídeo) em atividades estritamente relacionadas à conferência e sem a reprodução de conteúdo intelectual registrado sem o meu consentimento;
  %p (4) Que todo o conteúdo da sessão é de minha inteira responsabilidade civil e intelectual, estando passível de responder judicialmente por qualquer ato ilegal que possa vir a realizar durante a exposição na conferência;
  %p (5) Me ater ao tempo designado à minha sessão, assim respeitando a organização e as pessoas voluntárias da conferência.

= render 'confirm_sessions/form'
