- title "Confirmation of attendance at Agile Brazil 2010"
.auto_focus

%p Dear #{current_user.full_name},

%p We are pleased to inform you that your proposal "#{@session.title}" has been selected to be part of the program of the Brazilian Conference about Agile Methods – Agile Brazil 2010! To confirm your attendance at the event, please make the changes suggested by the organizers, then read and sign the term of agreement.

%p#review_decision
  %strong #{t('formtastic.labels.review_decision.note_to_authors')}:
  %br
  = @session.review_decision.note_to_authors

- content_for :agreement do
  %h3 AUTHOR TERM OF AGREEMENT - AGILE BRAZIL 2010
  On agreeing to these terms, I declare that I will:
  %br
  (1) Be able to present my session at Agile Brazil 2010 at the date and place defined by the event organization,
  committing to the high quality of the event;
  %br
  (2) Be aware that I must immediately notify the organization of Agile Brazil 2010 should any unpredicted event prevent
  me from participating in the conference, thus allowing my session to be replaced or the issue be solved in any way;
  %br
  (3) Be granting the organization of Agile Brazil 2010 the consent to use photographs of myself, or in any media form,
  for non-commercial, non-political and non-religious purposes, in activities strictly related to the conference and
  without reproduction of the intellectual content without my acknowledgement;
  %br
  (4) Be responsible and accountable for the intellectual property of all the content in my presentation, as well as
  being legally responsible for any activities performed during its presentation at the conference.

= render 'confirm_sessions/form'