- title t('title.attendee')

%ul.spaced
  %li.first #{t('formtastic.labels.attendee.full_name')}:
  %li= @attendee.full_name
%ul.spaced
  %li.first #{t('generic.registration_number')}:
  %li= @attendee.id
%ul.spaced
  %li.first #{t('formtastic.labels.attendee.status')}:
  %li= t("attendee.status.#{@attendee.status}")

= render :partial => 'shared/registration_details', :locals => {:attendee => @attendee}

= render :partial => "attendees/#{@attendee.status}", :locals => {:attendee => @attendee}