= semantic_form_for @reviewer, :url => reviewer_reject_path(@reviewer) do |form|
  = form.buttons do
    = form.commit_button :reject_reviewer, :button_html => {:tabindex => autotab}
    = t('generic.or')
    = link_to t('formtastic.actions.accept_reviewer'), reviewer_accept_path(@reviewer)