- title t('title.attendee')

%ul.spaced
  %li.first #{t('formtastic.labels.registration_group.name')}:
  %li= @registration_group.name
%ul.spaced
  %li.first #{t('generic.registration_number')}:
  %li= @registration_group.to_param
%ul.spaced
  %li.first #{t('formtastic.labels.registration_group.registered_attendees')}:
  %li #{@registration_group.attendees.size}/#{@registration_group.total_attendees}
%ul.spaced
  %li.first #{t('formtastic.labels.registration_group.status')}:
  %li= t("registration_group.status.#{@registration_group.status}")

= render :partial => 'shared/registration_group_details'

= render :partial => "registration_groups/#{@registration_group.status}", :locals => {:registration_group => @registration_group}