= semantic_form_for @session, :url => session_withdraw_path(@session), :html => {:class => 'review_decision_withdraw'} do |form|
  = form.inputs :class => 'inputs accept' do
    = form.errors_on :base
    = form.input :author_agreement, :label => t('formtastic.labels.session.withdraw.author_agreement'), :required => true, :as => :boolean, :input_html => {:tabindex => autotab}
  = form.buttons do
    = form.commit_button :withdraw_session, :button_html => {:tabindex => autotab}
    = t('generic.or')
    = link_to t('formtastic.actions.confirm_session'), session_confirm_path(@session)