- title t('session.reviews', :session => @session.title)
- show_actions!

%ul.spaced
  %li.first #{t('formtastic.labels.review.authors')}:
  %li= link_to h(@session.author.full_name), user_path(@session.author)
  - if @session.second_author
    %li= link_to h(@session.second_author.full_name), user_path(@session.second_author)

%ul.spaced
  %li.first #{t('session.parameters')}:
  %li= link_to t(@session.track.title), tracks_path
  %li= link_to t(@session.audience_level.title), audience_levels_path
  %li= link_to t(@session.session_type.title), session_types_path
  %li
    &= @session.try(:duration_mins)
    = t('generic.minutes')
  - unless @session.audience_limit.blank?
    %li= t('session.audience_limit', :limit => @session.audience_limit)

%p
  = link_to t('review.view_session'), session_path(@session), :target => '_blank'

- if(@session.review_decision)
  %h2= t('formtastic.titles.review_decision')

  %p
    %strong #{t('formtastic.labels.review_decision.outcome_id')}:
    = t(@session.review_decision.outcome.title)
  %p
    %strong #{t('formtastic.labels.review_decision.note_to_authors')}:
    %br
    = @session.review_decision.note_to_authors

%h2= t('formtastic.titles.conclusion')

%table#conclusions.reviews
  %thead
    %tr
      %th.reviewer= t('formtastic.labels.review.reviewer')
      %th.recommendation= t('formtastic.labels.review.recommendation')
      %th.confidence= t('formtastic.labels.review.confidence')
      %th.action
  %tbody
    - @reviews.each do |review|
      - class_name = cycle(:odd, :even)
      = content_tag_for(:tr, review, :class => class_name) do
        %td.reviewer&= reviewers[review]
        %td.recommendation= t(review.recommendation.title)
        %td.confidence= t(review.reviewer_confidence_rating.title)
        %td.action
      - if should_justify
        = content_tag(:tr, :id => "review_#{review.id}_justification", :class => "#{class_name} justification") do
          %td{:class => "justification", :colspan => 4}
            = "<strong>" + t('review.justification') + ":</strong> " + review.justification


%h2= t('formtastic.titles.details')

%table#comments.reviews
  %thead
    %tr
      %th.reviewer= t('formtastic.labels.review.reviewer')
      %th.comment= comments_label
  %tbody
    - @reviews.each do |review|
      = content_tag(:tr, :id => "review_#{review.id}_comments", :class => cycle(:odd, :even)) do
        %td.reviewer&= reviewers[review]
        %td.comment&= comments[review]

%h3= t('formtastic.titles.author')

%table#authors.reviews.author
  %thead
    %tr
      %th
      - @reviews.each do |review|
        %th.reviewer&= reviewers[review]
  %tbody
    %tr.odd
      %th= t('review.agile_xp_rating')
      - @reviews.each do |review|
        %td= t(review.author_agile_xp_rating.title)
    %tr.even
      %th= t('review.proposal_xp_rating')
      - @reviews.each do |review|
        %td= t(review.author_proposal_xp_rating.title)

%h3= t('formtastic.titles.proposal')

%table#proposal.reviews.proposal
  %thead
    %tr
      %th
      - @reviews.each do |review|
        %th.reviewer&= reviewers[review]
  %tbody
    %tr.odd
      %th= t('formtastic.labels.review.proposal_abstract')
      - @reviews.each do |review|
        %td= image_tag(review.proposal_abstract ? 'yes.png' : 'no.png')
    %tr.even
      %th= t('formtastic.labels.review.proposal_track')
      - @reviews.each do |review|
        %td= image_tag(review.proposal_track ? 'yes.png' : 'no.png')
    %tr.odd
      %th= t('formtastic.labels.review.proposal_level')
      - @reviews.each do |review|
        %td= image_tag(review.proposal_level ? 'yes.png' : 'no.png')
    %tr.even
      %th= t('formtastic.labels.review.proposal_type')
      - @reviews.each do |review|
        %td= image_tag(review.proposal_type ? 'yes.png' : 'no.png')
    %tr.odd
      %th= t('formtastic.labels.review.proposal_duration')
      - @reviews.each do |review|
        %td= image_tag(review.proposal_duration ? 'yes.png' : 'no.png')
    %tr.even
      %th= t('formtastic.labels.review.proposal_limit')
      - @reviews.each do |review|
        %td= image_tag(review.proposal_limit ? 'yes.png' : 'no.png')

%h3= t('formtastic.titles.work')

%table#work.reviews.work
  %thead
    %tr
      %th
      - @reviews.each do |review|
        %th.reviewer&= reviewers[review]
  %tbody
    %tr.odd
      %th= t('review.proposal_quality_rating')
      - @reviews.each do |review|
        %td= t(review.proposal_quality_rating.title)
    %tr.even
      %th= t('review.proposal_relevance_rating')
      - @reviews.each do |review|
        %td= t(review.proposal_relevance_rating.title)
