- title t('session.reviews', session: @session.title)
- show_actions!

%ul.spaced
  %li.first #{t('formtastic.labels.final_review.authors')}:
  %li= link_to h(@session.author.full_name), user_path(@session.author)
  - if @session.second_author
    %li= link_to h(@session.second_author.full_name), user_path(@session.second_author)

%ul.spaced
  %li.first #{t('session.parameters')}:
  - if @conference.tracks.size > 1
    %li= link_to t(@session.track.title, default: @session.track.title), conference_tracks_path(@conference)
  - if @conference.audience_levels.size > 1
    %li= link_to t(@session.audience_level.title, default: @session.audience_level.title), conference_audience_levels_path(@conference)
  - if @conference.session_types.size > 1
    %li= link_to t(@session.session_type.title, default: @session.session_type.title), conference_session_types_path(@conference)
  %li
    &= @session.try(:duration_mins)
    = t('generic.minutes')
  - unless @session.audience_limit.blank?
    %li= t('session.audience_limit', limit: @session.audience_limit)

%p
  = link_to t('review.view_session'), session_path(@conference, @session), target: '_blank'

- if(@session.review_decision)
  %h2= t('formtastic.titles.review_decision')

  %p
    %strong #{t('formtastic.labels.review_decision.outcome_id')}:
    = t(@session.review_decision.outcome.title)
  %p
    %strong #{t('formtastic.labels.review_decision.note_to_authors')}:
    %br
    = @session.review_decision.note_to_authors

- if @reviews.all? {|r| r.is_a?(FinalReview) }
  %h2= t('formtastic.titles.conclusion')

  %table#conclusions.reviews
    %thead
      %tr
        %th.reviewer= t('formtastic.labels.final_review.reviewer')
        %th.recommendation= t('formtastic.labels.final_review.recommendation')
        %th.confidence= t('formtastic.labels.final_review.confidence')
        - if should_justify
          %th.action= t('review.justification')
    %tbody
      - @reviews.each do |review|
        - class_name = cycle(:odd, :even)
        = content_tag_for(:tr, review, class: class_name) do
          %td.reviewer&= reviewers[review]
          %td.recommendation= t(review.recommendation.title)
          %td.confidence= t(review.reviewer_confidence_rating.title)
          - if should_justify
            %td.action
              = link_to t('generic.show'), '#', class: 'show'
              = link_to t('generic.hide'), '#', class: 'hide'
        - if should_justify
          = content_tag_for(:tr, review, class: class_name) do
            %td.justification{colspan: 4}
              %strong= t('review.justification') + ": "
              = review.justification

%h2= t('formtastic.titles.details')

- if local_assigns[:comments]
  %table#comments.reviews
    %thead
      %tr
        %th.reviewer= t('formtastic.labels.final_review.reviewer')
        %th.comment= comments_label
    %tbody
      - @reviews.each do |review|
        = content_tag(:tr, id: "review_#{review.id}_comments", class: cycle(:odd, :even)) do
          %td.reviewer&= reviewers[review]
          %td.comment&= comments[review]

%table#comments_to_authors.reviews
  %thead
    %tr
      %th.reviewer= t('formtastic.labels.final_review.reviewer')
      %th.comment= comments_to_author_label
  %tbody
    - @reviews.each do |review|
      = content_tag(:tr, id: "review_#{review.id}_comments_to_author", class: cycle(:odd, :even)) do
        %td.reviewer&= reviewers[review]
        %td.comment&= comments_to_author[review]

%h3= t('formtastic.titles.author')

%table#authors.reviews.author
  %thead
    %tr
      %th
      - @reviews.each do |review|
        %th.reviewer&= reviewers[review]
  %tbody
    %tr.odd
      %th= t('review.agile_xp_rating')
      - @reviews.each do |review|
        %td= t(review.author_agile_xp_rating.title)
    %tr.even
      %th= t('review.proposal_xp_rating')
      - @reviews.each do |review|
        %td= t(review.author_proposal_xp_rating.title)

%h3= t('formtastic.titles.proposal')

%table#proposal.reviews.proposal
  %thead
    %tr
      %th
      - @reviews.each do |review|
        %th.reviewer&= reviewers[review]
  %tbody
    - contents = %i[proposal_abstract proposal_track proposal_level proposal_type proposal_duration proposal_limit]
    - contents.delete(:proposal_track) if @conference.tracks.size == 1
    - contents.each_with_index do |row, index|
      %tr{class: ((index + 1) % 2) == 0 ? 'even' : 'odd'}
        %th= t("formtastic.labels.final_review.#{row.to_s}")
        - @reviews.each do |review|
          %td= image_tag(review.send(row) ? 'yes.png' : 'no.png')

%h3= t('formtastic.titles.work')

%table#work.reviews.work
  %thead
    %tr
      %th
      - @reviews.each do |review|
        %th.reviewer&= reviewers[review]
  %tbody
    %tr.odd
      %th= t('review.proposal_quality_rating')
      - @reviews.each do |review|
        %td= t(review.proposal_quality_rating.title)
    %tr.even
      %th= t('review.proposal_relevance_rating')
      - @reviews.each do |review|
        %td= t(review.proposal_relevance_rating.title)
