- title t('session.reviews', :session => @session.title)
- show_actions!

%ul.spaced
  %li.first #{t('formtastic.labels.review.authors')}:
  %li= link_to h(@session.author.full_name), user_path(@session.author)
  - if @session.second_author
    %li= link_to h(@session.second_author.full_name), user_path(@session.second_author)

%ul.spaced
  %li.first #{t('session.parameters')}:
  %li= link_to t(@session.track.title), tracks_path
  %li= link_to t(@session.audience_level.title), audience_levels_path
  %li= link_to t(@session.session_type.title), session_types_path
  %li
    &= @session.try(:duration_mins)
    = t('generic.minutes')
  - unless @session.audience_limit.blank?
    %li= t('session.audience_limit', :limit => @session.audience_limit)

%p
  = link_to t('review.view_session'), session_path(@session), :target => '_blank'

%h2= t('formtastic.titles.conclusion')

%table#conclusions.reviews
  %thead
    %tr
      %th.reviewer= t('formtastic.labels.review.reviewer')
      %th.recommendation= t('formtastic.labels.review.recommendation')
      %th.confidence= t('formtastic.labels.review.confidence')
      %th.action
  %tbody
    - @reviews.each do |review|
      - class_name = cycle(:odd, :even)
      - content_tag_for(:tr, review, :class => class_name) do
        %td.reviewer&= review.reviewer.full_name
        %td.recommendation= t(review.recommendation.title)
        %td.confidence= t(review.reviewer_confidence_rating.title)
        %td.action
      - content_tag(:tr, :id => "review_#{review.id}_justification", :class => "#{class_name} justification") do
        %td{:class => "justification", :colspan => 4}
          = "<strong>" + t('review.justification') + ":</strong>"
          &= review.justification

%h2= t('formtastic.titles.details')

%table#comments.reviews
  %thead
    %tr
      %th.reviewer= t('formtastic.labels.review.reviewer')
      %th.comment= t('review.comments_to_organizers')
  %tbody
    - @reviews.each do |review|
      - content_tag_for(:tr, :id => "review_#{review.id}_comments", :class => cycle(:odd, :even)) do
        %td.reviewer&= review.reviewer.full_name
        %td.comment&= review.comments_to_organizers

%h3= t('formtastic.titles.author')

%table#authors.reviews.author
  %thead
    %tr
      %th
      - @reviews.each do |review|
        %th.reviewer&= review.reviewer.full_name
  %tbody
    %tr.odd
      %th= t('review.agile_xp_rating')
      - @reviews.each do |review|
        %td= t(review.author_agile_xp_rating.title)
    %tr.even
      %th= t('review.proposal_xp_rating')
      - @reviews.each do |review|
        %td= t(review.author_proposal_xp_rating.title)

%h3= t('formtastic.titles.proposal')

%table#proposal.reviews.proposal
  %thead
    %tr
      %th
      - @reviews.each do |review|
        %th.reviewer&= review.reviewer.full_name
  %tbody
    %tr.odd
      %th= t('formtastic.labels.review.proposal_abstract')
      - @reviews.each do |review|
        %td= image_tag(review.proposal_abstract ? 'yes.png' : 'no.png')
    %tr.even
      %th= t('formtastic.labels.review.proposal_track')
      - @reviews.each do |review|
        %td= image_tag(review.proposal_track ? 'yes.png' : 'no.png')
    %tr.odd
      %th= t('formtastic.labels.review.proposal_level')
      - @reviews.each do |review|
        %td= image_tag(review.proposal_level ? 'yes.png' : 'no.png')
    %tr.even
      %th= t('formtastic.labels.review.proposal_type')
      - @reviews.each do |review|
        %td= image_tag(review.proposal_type ? 'yes.png' : 'no.png')
    %tr.odd
      %th= t('formtastic.labels.review.proposal_duration')
      - @reviews.each do |review|
        %td= image_tag(review.proposal_duration ? 'yes.png' : 'no.png')
    %tr.even
      %th= t('formtastic.labels.review.proposal_limit')
      - @reviews.each do |review|
        %td= image_tag(review.proposal_limit ? 'yes.png' : 'no.png')

%h3= t('formtastic.titles.work')

%table#work.reviews.work
  %thead
    %tr
      %th
      - @reviews.each do |review|
        %th.reviewer&= review.reviewer.full_name
  %tbody
    %tr.odd
      %th= t('review.proposal_quality_rating')
      - @reviews.each do |review|
        %td= t(review.proposal_quality_rating.title)
    %tr.even
      %th= t('review.proposal_relevance_rating')
      - @reviews.each do |review|
        %td= t(review.proposal_relevance_rating.title)

- show_link = "<a class='hidden' onClick='show_review_justification(this)'>#{t('generic.show', :target => t('review.justification'))}</a>"
- hide_link = "<a class='shown' onClick='hide_review_justification(this)'>#{t('generic.hide', :target => t('review.justification'))}</a>"
:javascript
  $(document).ready(function() {
    var hide_function = function(index, value){$(value).hide()};
    $.each($('tr.justification'), hide_function);
    $.each($('table#conclusions>tbody>tr.review'), function(index, value) {
      var action_td = $('tr#'+value.id+'>td:nth-child(4)');
      action_td.append("#{show_link}#{hide_link}");
    });
    $.each($('a.shown'), hide_function);
  })
  function show_review_justification(link) {
    toggle_justification(link, 'shown', 'hidden', function(item) {item.show()});
  }
  function hide_review_justification(link) {
    toggle_justification(link, 'hidden', 'shown', function(item) {item.hide()});
  }
  function toggle_justification(link, to_show, to_hide, operation) {
    var parent = link.parentNode.parentNode;
    $('#'+parent.id+'>td>a.'+to_show).show();
    $('#'+parent.id+'>td>a.'+to_hide).hide();
    operation($('#'+parent.id+'_justification'));
  }
