- reviewers = {}
- comments = {}
- comments_label = t('review.comments_to_organizers')
- @reviews.each_with_index do |review, index|
  -  reviewers[review] = review.reviewer.full_name
  -  comments[review] = review.comments_to_organizers

= render 'reviews', :should_justify => true, :reviewers => reviewers, :comments => comments, :comments_label => comments_label

- show_link = "<a class='hidden' onClick='show_review_justification(this)'>#{t('generic.show', :target => t('review.justification'))}</a>"
- hide_link = "<a class='shown' onClick='hide_review_justification(this)'>#{t('generic.hide', :target => t('review.justification'))}</a>"
:javascript
  $(document).ready(function() {
    var hide_function = function(index, value){$(value).hide()};
    $.each($('tr.justification'), hide_function);
    $.each($('table#conclusions>tbody>tr.review'), function(index, value) {
      var action_td = $('tr#'+value.id+'>td:nth-child(4)');
      action_td.append("#{show_link}#{hide_link}");
    });
    $.each($('a.shown'), hide_function);
  })
  function show_review_justification(link) {
    toggle_justification(link, 'shown', 'hidden', function(item) {item.show()});
  }
  function hide_review_justification(link) {
    toggle_justification(link, 'hidden', 'shown', function(item) {item.hide()});
  }
  function toggle_justification(link, to_show, to_hide, operation) {
    var parent = link.parentNode.parentNode;
    $('#'+parent.id+'>td>a.'+to_show).show();
    $('#'+parent.id+'>td>a.'+to_hide).hide();
    operation($('#'+parent.id+'_justification'));
  }
