- title t('title.vote')
- show_actions!
- content_for(:head) do
  = javascript_include_tag

%p= t('vote.description')

- unless @vote.new_record?
  %p.current_vote= t('vote.current_vote', :logo => @vote.logo_id)

- semantic_form_for(@vote) do |form|
  - form.inputs do
    = form.input :logo_id, :as => :radio, :label => false, :collection => Logo.all, :hint => (@vote.new_record? ? :new_vote : :edit_vote), :input_html => {:tabindex => autotab}, :label_method => lambda { |l| |
      content_tag(:span, l.id, :class => 'logo_number') +                              |
      image_tag(l.to_filename(:size => :small, :color => false), :class => 'bw') +     |
      image_tag(l.to_filename(:size => :small), :class => 'color') +                   |
      link_to(image_tag('enlarge.png'), image_path(l.to_filename), :rel => 'facebox')  |
    }                                                                                  |
  - form.buttons do
    - button_type = @vote.new_record? ? :add_vote : :change_vote
    = form.commit_button button_type, :button_html => {:tabindex => autotab, :onclick => 'return confirmVote()'}

- javascript_tag do
  :plain
    $(document).ready(function() {
      $('#vote_logo_id_input label').hover(
        function() {
          if ($(this).children(':radio:checked').length > 0) { return }
          $(this).children('img.bw').hide().end().children('img.color').show();
        },
        function() {
          if ($(this).children(':radio:checked').length > 0) { return }
          $(this).children('img.bw').show().end().children('img.color').hide();
        }
      ).click(function() { /* IE hack for labels with images */
        if ($(this).children(':radio:enabled').length > 0) {
          $(':radio').attr('checked', false);
          $(this).children(':radio').attr('checked', 'checked').change();
        }
      })
      
      $(':radio').hide();
      
      $(':radio').change(function() {
        $(':radio ~ img').removeClass('highlighted');
        $(':radio ~ img.color').hide();
        $(':radio ~ img.bw').show();
        
        $(':radio:checked ~ img').addClass('highlighted');
        $(':radio:checked ~ img.bw').hide();
        $(':radio:checked ~ img.color').show();
      }).change();
      
      $('a[rel*=facebox]').facebox()
    })
    
    function confirmVote() {
      return showConfirmation("#{t('vote.confirmation')}");
    }
    
    function confirmChange() {
      return showConfirmation("#{t('vote.change.confirmation')}");
    }

    function showConfirmation(msg) {
      var chosen_logo = $(':radio:checked').val();
      if (chosen_logo == null)
        return true;
      if (!confirm(msg.replace("$LOGO", chosen_logo))) {
        $(':radio').attr('checked', false);
        var previous_vote = $(':radio[value=#{@vote.logo_id}]');
        if (previous_vote.length > 0)
          previous_vote.attr('checked', 'checked').change();
        else
          $(':radio').change();
        return false;
      }
      return true;
    }

