- title "Chamada de trabalhos para a Agile Brazil 2010"
- show_actions!
.auto_focus

%p A Conferência Brasileira sobre Métodos Ágeis de Desenvolvimento de Software – #{link_to("Agile Brazil 2010", "http://www.agilebrazil.com")} – é uma conferência nacional sem fins lucrativos organizada por representantes das principais comunidades ágeis brasileiras. O evento tem como propósito promover a comunicação e a colaboração entre seus integrantes visando à disseminação coordenada da cultura Ágil por todo o país.

%p O Agile Brazil 2010 acontecerá no campus central da PUCRS, em Porto Alegre, de 22 a 25 de junho, contando com cursos, apresentação de trabalhos e relatos de experiência provenientes de várias regiões do país, alem da participação de convidados reconhecidos internacionalmente. <strong>Martin Fowler</strong>, cientista chefe da ThoughtWorks, e <strong>Philippe Kruchten</strong>, professor da UBC em Vancouver (Canadá) e conhecido também por ter liderado a equipe do RUP na Rational Software, são alguns dos nomes já confirmados para o evento. Prepare desde já a #{link_to("sua viagem", "http://www.agilebrazil.com/2010/viagem.html")}.

%p A comissão organizadora gostaria de convidá-lo para participar como palestrante deste grande evento. Conte para o Brasil suas experiências, apresente suas pesquisas e compartilhe seus produtos e aprendizados! Fique atento às #{link_to("regras de submissão", static_page_path('guidelines'))} e às datas importantes e submeta sua proposta:

%ol
  %li Crie um #{logged_in? ? "usuário" : link_to("usuário", signup_path)}
  %li Proponha uma #{logged_in? ? link_to("sessão", new_session_path) : "sessão"}

%h3 Datas importantes

%ul
  %li #{l(Date.new(2010, 1, 31))}: Abertura do formulário de submissão de propostas
  %li
    %strong #{l(Date.new(2010, 2, 28))}: Submissão de propostas
  %li #{l(Date.new(2010, 4, 16))}: Notificação aos autores selecionados
  %li #{l(Date.new(2010, 4, 30))}: Limite para inscrição no evento dos autores selecionados
  
%p
  <strong>Realização</strong>: Faculdade de Informática (FACIN) - PUCRS
  %br
  <strong>Promoção</strong>: Sucesu-RS, através do GUMA (Grupo de Usuários de Métodos Ágeis)

%a{:name => 'news_contest'}
%h1 Participe do Concurso do Logo - Dê o seu Voto!

%p A comunidade participou do concurso de logo enviando 14 propostas. Destas, nós selecionamos as 3 melhores de acordo com os #{link_to("critérios de avaliação", "http://www.agilebrazil.com/2010/criterios.html")}. Agora é sua vez! Crie um #{logged_in? ? "usuário" : link_to("usuário", signup_path)} no sistema da conferência e #{logged_in? ? link_to("vote", new_vote_path) : "vote"} no seu logo preferido. A votação ficará aberta até <strong>#{l(Date.new(2010, 3, 7))}</strong>.

%p Aproveite o acesso ao sistema e #{logged_in? ? link_to("submeta uma proposta", new_session_path) : "submeta uma proposta"} ou dê o seu feedback adicionando comentários nas #{logged_in? ? link_to("propostas submetidas", sessions_path) : "propostas submetidas"}.


