- title "How to submit a session to Agile Brazil 2010"
- show_actions!

%p The Brazilian Conference about Agile Methods – #{link_to("Agile Brazil 2010", "http://www.agilebrazil.com")} – is a non-profitable national conference organized by representatives of the main Brazilian agile communities. The event's goal is to promote communication and collaboration among its attendees aiming to disseminate the Agile culture in the whole country.

%p Agile Brazil 2010 will be held in the main campus of PUCRS, in Porto Alegre, from June 22nd to 25th, and will feature courses, work presentations and experience reports from around Brazil, as well as the presence of international guests. Martin Fowler, ThoughtWorks' chief scientist, and Philippe Kruchten, professor at UBC in Vancouver (Canada) and also known for leading the RUP team at Rational Software, are some of the confirmed guests for the event.

%p The organization committee is pleased to invite you to join as a speaker of this great event. Tell Brazil about your experiences, present your research and share your products and learnings! Read the #{link_to("submission guidelines", "link quebrado")}, pay attention to the important dates and submit your proposal:

%ol
  %li Register a #{logged_in? ? "new account" : link_to("new account", signup_path)}
  %li Propose a #{logged_in? ? link_to("session", new_session_path) : "session"}

%h3 Important dates

%ul
  %li #{l(Date.strptime '2010-01-31')}: Release of proposal submission form
  %li
    %strong #{l(Date.strptime '2010-02-28')}: Submission deadline
  %li #{l(Date.strptime '2010-04-16')}: Acceptance notification
  %li #{l(Date.strptime '2010-04-30')}: Inscription deadline to selected authors

