- title "Sessions proposed to Agile Brazil 2010"
- show_actions!
.auto_focus

%p The Brazilian Conference about Agile Methods – #{link_to("Agile Brazil 2010", "http://www.agilebrazil.com")} – is a non-profitable national conference organized by representatives of the main Brazilian agile communities. The event's goal is to promote communication and collaboration among its attendees aiming to disseminate the Agile culture in the whole country.

%p Agile Brazil 2010 will be held in the main campus of PUCRS, in Porto Alegre, from June 22nd to 25th, and will feature courses, work presentations and experience reports from around Brazil, as well as the presence of international guests. <strong>Martin Fowler</strong>, ThoughtWorks' chief scientist, and <strong>Philippe Kruchten</strong>, professor at UBC in Vancouver (Canada) and also known for leading the RUP team at Rational Software, are some of the confirmed guests for the event. Start preparing #{link_to("your trip", "http://www.agilebrazil.com/2010/en/trip.html")}.

%p The organization committee is pleased to announce we received 150 proposals and the evaluation process is over. The track organizers are compiling the event agenda and the program should be published by end of April.

%h3 Important dates

%ul
  %li #{l(Date.new(2010, 1, 31))}: Release of proposal submission form
  %li #{l(Date.new(2010, 3, 7))}: Submission deadline
  %li
    %strong
      #{l(Date.new(2010, 5, 3))}: Acceptance notification
  %li #{l(Date.new(2010, 5, 17))}: Inscription deadline to selected authors

%p
  <strong>Supported by</strong>: Faculdade de Informática (FACIN) - PUCRS
  %br
  <strong>Promoted by</strong>: Sucesu-RS, supported by GUMA (Agile Methods User Group)
