- title "Chamada de trabalhos para a Agile Brazil 2010"
- show_actions!

%p A Conferência Brasileira sobre Métodos Ágeis de Desenvolvimento de Software – #{link_to("Agile Brazil 2010", "http://www.agilebrazil.com")} – é uma conferência nacional sem fins lucrativos organizada por representantes das principais comunidades ágeis brasileiras. O evento tem como propósito promover a comunicação e a colaboração entre seus integrantes visando à disseminação coordenada da cultura Ágil por todo o país.

%p O Agile Brazil 2010 acontecerá no campus central da PUCRS, em Porto Alegre, de 22 a 25 de junho, contando com cursos, apresentação de trabalhos e relatos de experiência provenientes de várias regiões do país, alem da participação de convidados reconhecidos internacionalmente. Martin Fowler, cientista chefe da ThoughtWorks, e Philippe Kruchten, professor da UBC em Vancouver (Canadá) e conhecido também por ter liderado a equipe do RUP na Rational Software, são alguns dos nomes já confirmados para o evento.

%p A comissão organizadora gostaria de convidá-lo para participar como palestrante deste grande evento. Conte para o Brasil suas experiências, apresente suas pesquisas e compartilhe seus produtos e aprendizados! Fique atento às #{link_to("regras de submissão", static_page_path('guidelines'))} e às datas importantes e submeta sua proposta:

%ol
  %li Crie um #{logged_in? ? "usuário" : link_to("usuário", signup_path)}
  %li Proponha uma #{logged_in? ? link_to("sessão", new_session_path) : "sessão"}

%h3 Datas importantes

%ul
  %li #{l(Date.strptime '2010-01-31')}: Abertura do formulário de submissão de propostas
  %li
    %strong #{l(Date.strptime '2010-02-28')}: Submissão de propostas
  %li #{l(Date.strptime '2010-04-16')}: Notificação aos autores selecionados
  %li #{l(Date.strptime '2010-04-30')}: Limite para inscrição no evento dos autores selecionados
