- title "Trabalhos da Agile Brazil 2011"
- show_actions!
.auto_focus

%p A Conferência Brasileira sobre Métodos Ágeis de Desenvolvimento de Software – #{link_to("Agile Brazil 2011", "http://www.agilebrazil.com/2011/")} – é uma conferência nacional sem fins lucrativos organizada por representantes das principais comunidades ágeis brasileiras. O evento tem como propósito promover a comunicação e a colaboração entre seus integrantes visando à disseminação coordenada da cultura Ágil por todo o país.

%p O Agile Brazil 2011 acontecerá em Fortaleza, no fim de Junho, contando com cursos, apresentação de trabalhos e relatos de experiência provenientes de várias regiões do país, alem da participação de convidados reconhecidos internacionalmente. Prepare desde já a #{link_to("sua viagem", "http://www.agilebrazil.com/2011/pt/viagem.php")}.

%h3 Datas importantes

%ul
  %li
    %strong 
      #{l(Date.new(2010, 2, 5))}: Divulgação da chamada de trabalhos
  %li #{l(Date.new(2010, 2, 14))}: Abertura do formulário de submissão de propostas
  %li #{l(Date.new(2010, 3, 19))}: Submissão de propostas
  %li #{l(Date.new(2010, 4, 25))}: Notificação aos autores selecionados
  %li #{l(Date.new(2010, 4, 30))}: Limite para inscrição no evento dos autores selecionados

