- if logged_in?
  - if current_user.reviewer? || current_user.organizer? || current_user.admin?
    #date
      %p= t('actions.review_date')
      %p <strong>#{l(Date.new(2010, 4, 1))}</strong>
      #review_progress_count
        #{t('actions.review_goal')}:
        %span.progress
  %h3&= current_user.full_name
- else
  - semantic_form_for @user_session do |f|
    - f.inputs do
      = f.input :username, :required => true, :input_html => {:tabindex => autotab}
      = f.input :password, :required => true, :input_html => {:tabindex => autotab}
    - f.buttons do
      = f.commit_button "Log in", :button_html => {:tabindex => autotab}

- if logged_in?
  %h4= t('actions.section.session')
  %ul
    - if can? :create, Session
      %li= link_to t('actions.submit_session'), new_session_path
    - if can? :read, Session
      %li= link_to t('actions.browse_sessions'), sessions_path
    - if can? :create, Session
      %li= link_to t('actions.my_sessions'), user_my_sessions_path(current_user)
      
  - if current_user.reviewer? || current_user.organizer? || current_user.admin?
    %h4= t('actions.section.review')
    %ul
      - if can? :read, Organizer
        %li= link_to t('actions.manage_organizers'), organizers_path
      - if can? :read, Reviewer
        %li= link_to t('actions.manage_reviewers'), reviewers_path
      - if can? :read, 'organizer_sessions'
        %li= link_to t('actions.organizer_sessions'), organizer_sessions_path
      - if can? :read, 'reviewer_sessions'
        %li= link_to t('actions.reviewer_sessions'), reviewer_sessions_path
      - if can? :read, 'reviews_listing'
        %li= link_to t('actions.reviewer_reviews'), reviewer_reviews_path
      - if can?(:create, Review, @session)
        %li= link_to t('actions.review_session'), new_session_review_path(@session)
        
  %h4= t('actions.section.user')
  %ul
    - if can? :read, User
      %li= link_to t('actions.profile'), user_path(current_user)
    - if can? :update, current_user
      %li= link_to t('actions.edit_profile'), edit_user_path(current_user)
    - if can? :destroy, UserSession
      %li= link_to "Logout", logout_path
        
- else
  %ul
    - if can? :create, User
      %li= link_to t('actions.signup'), signup_path
    %li= link_to t('title.lost_password'), new_password_reset_path

:javascript
  $(document).ready(function() {
    $.getJSON('#{reviews_path(:format => :js)}', function(data) {
      $("#review_progress_count .progress").progressBar(data.total_reviews, {
        boxImage : '/images/progressbar.gif',
        max : data.required_reviews,
        textFormat : 'fraction',
        barImage : {
                      0:  '/images/progressbg_red.gif',
                      30: '/images/progressbg_orange.gif',
                      70: '/images/progressbg_green.gif'
        }
      });
    })
  })