- if user_signed_in?
  - if current_user.author? || current_user.organizer?
    #date
      %p= t('actions.author_confirmation_date')
      %p <strong>#{l(Ability::AUTHOR_CONFIRMATION_DEADLINE.to_date)}</strong>
      - if current_user.organizer?
        #review_progress_count
          #{t('actions.review_goal')}:
          %span.progress
  %h3&= current_user.full_name
  
  - if can?(:create, Attendee) || can?(:create, RegistrationGroup) || can?(:read, 'registered_attendees')
    %h4= t('actions.section.registration')
    %ul
      - if can? :create, Attendee
        %li= link_to(t('actions.new_registration'), new_attendee_path)
        - if current_user.has_approved_long_session?(Conference.current)
          %li= link_to(t('actions.new_speaker_registration'), new_attendee_path)
      - if can? :create, RegistrationGroup
        %li= link_to(t('actions.new_registration_group'), new_registration_group_path)
      - if can? :read, 'registered_attendees'
        %li= link_to(t('actions.new_sponsor_registration'), new_attendee_path)
        %li= link_to(t('actions.registered_attendees'), registered_attendees_path)
      - if can? :index, Attendee
        %li= link_to(t('actions.attendees_summary'), attendees_path)

  %h4= t('actions.section.session')
  %ul
    - if can? :create, Session
      %li= link_to t('actions.submit_session'), new_session_path
    - if can? :read, Session
      %li= link_to t('actions.browse_sessions'), sessions_path
      - if current_user.sessions.count > 0
        %li= link_to t('actions.my_sessions'), user_my_sessions_path(current_user)

  - if current_user.reviewer? || current_user.organizer? || current_user.admin?
    %h4= t('actions.section.review')
    %ul
      - if can? :read, Organizer
        %li= link_to t('actions.manage_organizers'), organizers_path
      - if can? :read, Reviewer
        %li= link_to t('actions.manage_reviewers'), reviewers_path
      - if can? :read, 'organizer_sessions'
        %li= link_to t('actions.organizer_sessions'), organizer_sessions_path
      - if can? :read, 'reviewer_sessions'
        %li= link_to t('actions.reviewer_sessions'), reviewer_sessions_path
      - if can? :reviewer, 'reviews_listing'
        %li= link_to t('actions.reviewer_reviews'), reviewer_reviews_path
      - if @session.present? && can?(:create, Review, @session)
        %li= link_to t('actions.review_session'), new_session_review_path(@session)

  %h4= t('actions.section.user')
  %ul
    - if can? :read, User
      %li= link_to t('actions.profile'), user_path(current_user)
    - if can? :update, current_user
      %li= link_to t('actions.edit_profile'), edit_user_registration_path
    %li= link_to "Logout", destroy_user_session_path

  - if current_user.organizer?
    :javascript
      $(document).ready(function() {
        $.getJSON('#{review_decisions_path(:format => :js)}', function(data) {
          var orange = Math.floor(parseInt(data.required_decisions) * 0.30);
          var yellow = Math.floor(parseInt(data.required_decisions) * 0.60);
          var green = Math.floor(parseInt(data.required_decisions) * 0.90);
          var progressImages = {};
          progressImages[0] = '/images/progressbg_red.gif';
          progressImages[orange] = '/images/progressbg_orange.gif';
          progressImages[yellow] = '/images/progressbg_yellow.gif';
          progressImages[green] = '/images/progressbg_green.gif';

          $("#review_progress_count .progress").progressBar(data.total_confirmed, {
            boxImage : '/images/progressbar.gif',
            max : data.total_accepted,
            textFormat : 'fraction',
            barImage : progressImages
          });
        })
      })
              
- else
  = semantic_form_for "user", :url => user_session_path do |f|
    = f.inputs do
      = f.input :username, :required => true, :input_html => {:tabindex => autotab}
      = f.input :password, :required => true, :hint => false, :input_html => {:tabindex => autotab}
    = f.buttons do
      = f.commit_button "Log in", :button_html => {:tabindex => autotab}

  %ul
    - if can? :create, User
      %li= link_to t('actions.signup'), new_user_registration_path
    %li= link_to t('title.lost_password'), new_user_password_path

  - if can?(:create, Attendee) || can?(:create, RegistrationGroup)
    %h4= t('actions.section.registration')
    %ul
      - if can? :create, Attendee
        %li= link_to(t('actions.new_registration'), new_attendee_path)
      - if can? :create, RegistrationGroup
        %li= link_to(t('actions.new_registration_group'), new_registration_group_path)

  %br
  #warning
    %p= t('tips.users_from_last_year').html_safe