- if logged_in?
  %h3= current_user.full_name
- else
  - semantic_form_for @user_session do |f|
    - f.inputs do
      = f.input :username, :required => true
      = f.input :password, :required => true
    - f.buttons do
      = f.commit_button "Log in"

%ul
  - if logged_in?
    %li= link_to t('actions.submit_session'), new_session_path
    %li= link_to t('actions.browse_sessions'), sessions_path
    %li= link_to t('actions.profile'), user_path(current_user)
    %li= link_to "Logout", logout_path
  - else
    %li= link_to t('actions.signup'), signup_path
  %li= link_to t('title.tracks'), tracks_path
