- if user_signed_in?
  - if (current_user.reviewer? || current_user.organizer?) && (@conference.in_early_review_phase? || @conference.in_final_review_phase?)
    - if (next_deadline = @conference.next_deadline(:reviewer))
      #date
        %p= t("conference.dates.#{next_deadline.last}")
        %p <strong>#{l(next_deadline.first.to_date)}</strong>
        #review_progress_count
          #{t('actions.review_goal')}:
          %span.progress
  - elsif current_user.organizer? && (next_deadline = @conference.next_deadline(:organizer)) && (next_deadline.last == :author_notification || next_deadline.last == :author_confirmation)
    #date
      %p= t("conference.dates.#{next_deadline.last}")
      %p <strong>#{l(next_deadline.first.to_date)}</strong>
      #review_decisions_progress_count
        #{t('actions.review_goal')}:
        %span.progress
  - elsif current_user.author?
    - if (next_deadline = @conference.next_deadline(:author))
      #date
        %p= t("conference.dates.#{next_deadline.last}")
        %p <strong>#{l(next_deadline.first.to_date)}</strong>
  %h3
    = render_avatar(current_user)
    &= current_user.full_name

  %h4= t('actions.section.session')
  %ul
    - if can? :create, Session
      %li= link_to t('actions.submit_session'), new_session_path(@conference)
    - if can? :read, Session
      %li= link_to t('actions.browse_sessions'), sessions_path(@conference)
      - if current_user.sessions_for_conference(@conference).count > 0
        %li= link_to t('actions.my_sessions'), user_sessions_path(@conference, current_user)
    - if can? :read, Vote
      %li= link_to t('actions.my_votes'), votes_path(@conference)

  - if current_user.reviewer? || current_user.organizer? || current_user.admin?
    %h4= t('actions.section.review')
    %ul
      - if can? :read, Organizer
        %li= link_to t('actions.manage_organizers'), organizers_path(@conference)
      - if can? :read, Reviewer
        %li= link_to t('actions.manage_reviewers'), reviewers_path(@conference)
      - if can? :read, 'organizer_sessions'
        %li= link_to t('actions.organizer_sessions'), organizer_sessions_path(@conference)
      - if can? :read, 'organizer_reports'
        %li= link_to t('actions.organizer_reports'), organizer_reports_path(@conference, :format => :xls)
      - if can? :read, 'reviewer_sessions'
        %li= link_to t('actions.reviewer_sessions'), reviewer_sessions_path(@conference)
      - if can? :reviewer, 'reviews_listing'
        %li= link_to t('actions.reviewer_reviews'), reviewer_reviews_path(@conference)
      - if @session.present? && (can?(:create, EarlyReview, @session) || can?(:create, FinalReview, @session))
        %li= link_to t('actions.review_session'), new_session_review_path(@conference, @session)

  %h4= t('actions.section.user')
  %ul
    - if can? :read, User
      %li= link_to t('actions.profile'), user_path(current_user)
    - if can? :update, current_user
      %li= link_to t('actions.edit_profile'), edit_user_registration_path
      %li= link_to t('actions.change_password'), edit_user_registration_path(:update_password => true)
    %li= link_to "Logout", destroy_user_session_path, :method => :delete

  - if (current_user.reviewer? || current_user.organizer?) && (@conference.in_early_review_phase? || @conference.in_final_review_phase?)
    :javascript
      $(document).ready(function() {
        $.getJSON('#{reviews_path(@conference, :format => :js)}', function(data) {
          var orange = Math.floor(parseInt(data.required_reviews) * 0.30);
          var yellow = Math.floor(parseInt(data.required_reviews) * 0.60);
          var green = Math.floor(parseInt(data.required_reviews) * 0.90);
          var progressImages = {};
          progressImages[0] = '/assets/progressbg_red.gif';
          progressImages[orange] = '/assets/progressbg_orange.gif';
          progressImages[yellow] = '/assets/progressbg_yellow.gif';
          progressImages[green] = '/assets/progressbg_green.gif';

          $("#review_progress_count .progress").progressBar(data.total_reviews, {
            boxImage : '/assets/progressbar.gif',
            max : data.required_reviews,
            textFormat : 'fraction',
            barImage : progressImages
          });
        })
      })
  - elsif current_user.organizer? && (next_deadline = @conference.next_deadline(:organizer)) && (next_deadline.last == :author_notification || next_deadline.last == :author_confirmation)
    - goal = next_deadline.last == :author_notification ? "data.required_decisions" : "data.total_accepted"
    - progress = next_deadline.last == :author_notification ? "data.total_decisions" : "data.total_confirmed"
    :javascript
      $(document).ready(function() {
        $.getJSON('#{review_decisions_path(@conference, :format => :js)}', function(data) {
          var orange = Math.floor(parseInt(#{goal}) * 0.30);
          var yellow = Math.floor(parseInt(#{goal}) * 0.60);
          var green = Math.floor(parseInt(#{goal}) * 0.90);
          var progressImages = {};
          progressImages[0] = '/assets/progressbg_red.gif';
          progressImages[orange] = '/assets/progressbg_orange.gif';
          progressImages[yellow] = '/assets/progressbg_yellow.gif';
          progressImages[green] = '/assets/progressbg_green.gif';

          $("#review_decisions_progress_count .progress").progressBar(#{progress}, {
            boxImage : '/assets/progressbar.gif',
            max : #{goal},
            textFormat : 'fraction',
            barImage : progressImages
          });
        })
      })

- else
  = semantic_form_for :user, :url => user_session_path do |f|
    = f.inputs do
      = f.input :username, :required => true, :input_html => {:tabindex => autotab}
      = f.input :password, :required => true, :hint => false, :input_html => {:tabindex => autotab}
    = f.actions do
      = f.action :submit, :label => "Log in", :button_html => {:tabindex => autotab}

  %ul
    - if can? :create, User
      %li= link_to t('actions.signup'), new_user_registration_path
    %li= link_to t('title.lost_password'), new_user_password_path

  %br
  #warning
    %p= t('tips.users_from_last_year').html_safe

= javascript_include_tag "https://www.google.com/jsapi"
%h4= t('actions.submissionByTrack')
%div{ :id => "submittedByTrack", :style => "margin-left: -3em;"}

:javascript
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Track', 'Submitted sessions']
        #{sessions_by_track}
    ]);

    var options = {
      pieSliceText: 'none',
      colors: ['#00991f', '#003499', '#9923e8', '#ff0000', '#e87b0c', '#ffe100'],
      pieHole: 0.4,
      legend: 'none'
    };

    var chart = new google.visualization.PieChart(document.getElementById('submittedByTrack'));
    chart.draw(data, options);
  }

%h4= t('actions.submissionByType')
%div{ :id => "submittedByType", :style => "margin-left: -3em;"}

:javascript
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Track', 'Submitted sessions']
        #{sessions_by_type}
    ]);

    var options = {
      pieSliceText: 'none',
      colors: ['#2d8e6c', '#61a363', '#9cb95a', '#d1cd52'],
      pieHole: 0.4,
      legend: 'none'
    };

    var chart = new google.visualization.PieChart(document.getElementById('submittedByType'));
    chart.draw(data, options);
  }
