%ul#menu
  = link_to_menu_item(:li, t('title.home'), root_path)
  = link_to_menu_item(:li, t('title.guidelines'), static_page_path('guidelines'))
  = link_to_menu_item(:li, t('title.tracks'), tracks_path)
  = link_to_menu_item(:li, t('title.session_types'), session_types_path)
  = link_to_menu_item(:li, t('title.audience_levels'), audience_levels_path)