%ul#menu
  = link_to_menu_item(:li, t('title.home'), static_page_path(@conference, 'home'))
  = link_to_menu_item(:li, t('title.guidelines'), static_page_path(@conference, 'guidelines'))
  = link_to_menu_item(:li, t('title.tracks'), tracks_path(@conference))
  = link_to_menu_item(:li, t('title.session_types'), session_types_path(@conference))
  = link_to_menu_item(:li, t('title.audience_levels'), audience_levels_path(@conference))