!!! Strict
%html{html_attrs}
  
  %head
    %title
      = (yield(:title) || t('title.untitled'))
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'formtastic'
    = stylesheet_link_tag 'formtastic_changes'
    = yield(:head)
  
  %body    
    #container
      #header
        = link_to image_tag('logo.png'), root_path
        .logo
          %h1 Agile Brazil 2010
          %strong Porto Alegre RS, 22-25 Jun/2010
        %ul
          %li= link_to "Português", "?locale=pt"
          %li= link_to "English", "?locale=en"
    
      - if show_actions?
        #actions.grid_3
          = render :partial => 'layouts/actions'
    
      #content{ :class => show_actions? ? 'grid_9' : 'grid_12' }
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
      
        - if show_title?
          %h1= yield(:title)
      
        = yield

      #footer Copyleft - Agile Brazil 2010