!!! Strict
%html{html_attrs(I18n.locale)}
  
  %head
    %title
      Agile Brazil 2010 -
      = (yield(:title) || t('title.untitled'))
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'formtastic'
    = stylesheet_link_tag 'formtastic_changes'
    = stylesheet_link_tag 'jquery.autocomplete'
    = javascript_include_tag 'application', 'jquery-1.4.min', 'jquery.autocomplete.min', 'jquery.textarearesizer', :cache => true
    = yield(:head)
  
  %body    
    #container
      #header
        = link_to image_tag('logo.png'), root_path
        .logo
          %h1 Agile Brazil 2010
          %strong Porto Alegre RS, 22-25 Jun/2010
        %ul#languages
          %li= link_to "Português", "?locale=pt"
          %li= link_to "English", "?locale=en"
        
        = render :partial => 'layouts/menu'
        
      - if show_actions?
        #actions.grid_3
          = render :partial => 'layouts/actions'
    
      #content{ :class => show_actions? ? 'grid_9' : 'grid_12' }
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
      
        - if show_title?
          %h1= yield(:title)
      
        = yield

      #footer Copyleft - Agile Brazil 2010 - #{t('footer.help')}

    - unless AppConfig[:tracker_id].nil?
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try{
          var pageTracker = _gat._getTracker("UA-#{AppConfig[:tracker_id]}");
          pageTracker._trackPageview();
        } catch(err) {}
    :javascript
      $(document).ready(function() {
        var errorInput = $('li.error :input:visible:enabled:first');
        if (errorInput.size() > 0) {
          errorInput.focus();
        } else {
          $(':input:visible:enabled:first').focus();
        }
        $('textarea').TextAreaResizer();
      })